@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div, form>div {margin:0 auto}
div {text-align:left}
a img {border:0}
table{border-collapse:collapse; border-spacing:0}
select,input,textarea{ font: 12px "Microsoft YaHei"; outline: none}
body { color:#333; text-align:center; font: 12px "Microsoft YaHei"}
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#333;text-decoration:none}
a:hover { color: #CC0000; text-decoration: none}
a, area {blr:expression(this.onFocus=this.blur())}
:focus {-moz-outline-style: none}
.clear {clear:both;height:0; overflow:hidden; visibility:hidden}
.hidden,.hide {display:none}
.block,.show {display:block}
.fl{float:left}
.fr{float:right}
.fline{float:left; display:inline}
.clearfix:after{clear:both;content:".";height:0;display:block;visibility:hidden}
.chgBtn{cursor:pointer}
.f12{font-size:12px}
.f12{font-size:13px}
.f14{font-size:14px}
.f12{font-size:15px}
.f16{font-size:16px}
.fwr{font-family:"Microsoft YaHei"}
.far{font-family:Arial}
.fb{font-weight:bold}
.auto{margin-left:auto; margin-right:auto}
.cor_red{color:#C00}
.cor_bs,.cor_bs:hover{color:#fff}
.pr{position:relative}
.pa{position:absolute}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.yunBg { background: #C5C5C5 url(../images/yunbg.jpg) no-repeat center top; }
.yunMain { width: 1003px; }
.yunTop { height: 88px; margin: 0px auto; width: 870px; }
.yunLogo { display: inline; margin: 30px 0px 0px 4px; float: left; }
.yunItmName { margin: 0px auto; height: 80px; width: 688px; padding-top: 26px; }
.yunItmName img { margin: 13px 13px 0px 0px; float: left; }
.yunItmS { font: 18px/58px "Microsoft YaHei"; float: left; height: 58px; }
.yunBox { margin: 0px auto; height: 400px; width: 870px; }
.yun_u1 ul li { line-height: 34px; height: 34px; margin-bottom: 25px; }
.yun_s1 { font: 14px/34px "Microsoft YaHei"; text-align: right; float: left; width: 196px; padding-right: 14px; }
.yun_int1 { line-height: 32px; padding: 0px 5px; height: 32px; width: 274px; border: 1px solid #BCBCBC; float: left; margin-right: 8px; }
.yun_int2 { width: 87px; margin-right: 12px; float: left; }
.yun_coder { float: left; margin-right: 10px; }
.yun_pwd { color: #999; }
.yun_cke { margin-right: 5px; position: relative; top: 2px; }
.yun_submit { background: url(../images/yunsubmit.jpg) no-repeat; height: 36px; width: 101px; border-width: 0px; border-style: none; cursor: pointer; float: left; margin-right: 10px; }
.yun_org { font-weight: bold; color: #f78000; }
.yun_u1 ul .yun_hzbox { padding-left: 140px; }
.yun_hzbox img { margin-right: 5px; position: relative; top: 4px; }
.yunFooter { line-height: 24px; text-align: center; padding: 22px 0px 30px; border-top: 1px solid #AAAAAA; }
.yun_u1 ul .yun_alr1 { line-height: 48px; height: 48px; margin-bottom: 0px; padding-left: 210px; }
.yun_submit2 { background: url(../images/yunsubmit2.jpg) no-repeat; }
.yunItmName2 { width: 792px; }
.yunbxL { float: left; width: 602px; }
.yunbxR { width: 266px; float: right; }
.yunbxL .yun_s1 { width: 114px; padding-right: 6px; }
.yun_u1 ul .yun_agee { line-height: 20px; height: 20px; }
.yun_submit3 { background: url(../images/yunregbtn.jpg) no-repeat; }
.yunbxr_top { line-height: 38px; height: 38px; }
.yun_alrbox { line-height: 26px; color: #D10000; background: #FFF3F3; white-space: nowrap; padding: 0px 6px; float: left; height: 26px; margin-top: 3px; border: 1px solid #FFE4E4; }
.yunbxr_dl dl dt { line-height: 40px; height: 40px; }
.yunbxr_dl dl dd { line-height: 30px; height: 30px; }
.yunbxr_dl dl dd img { position: relative; top: 3px; }
.yunTopBg { line-height: 30px; background: #707070; height: 30px; }
.yunTopCon { line-height: 30px; margin: 0px auto; height: 30px; width: 1210px; color: #FFF; text-align: right; }
.yunHeadBg { background: #FBFBFB; height: 100px; }
.yunHead { margin: 0px auto; height: 100px; width: 1210px; position: relative; }
.yun_logo2 { float: left; margin-top: 13px; }
.yun_headImg { position: absolute; right:0px; top: 20px; }
.yunHeadR { float: right; padding-top: 21px; width: 374px; }
.yunserBox { background: url(../images/yun_serintbg.jpg); height: 38px; padding-left: 9px; width: 365px; }
.yunserBox:hover{background: url(../images/yun_serintbg2.jpg);}
.yun_serInt { line-height: 28px !important; float: left; height: 28px !important; border-width: 0px; border-style: none; width: 310px !important; padding: 0 !important;  margin: 0 !important; margin-top: 5px !important;  border: 0 !important; box-shadow:none !important; }
.yun_serSubmit { margin: 2px 2px 0px 0px; float: right; height: 34px; width: 30px !important; border-width: 0px; border-style: none; cursor: pointer; background: url(../images/yun_serbtn.jpg) no-repeat; }
.yun_keyword { line-height: 22px; height: 22px; padding-left: 12px; }
.yunFtLink { height: 62px; padding-top: 31px; border-top: 5px solid #E33638; border-bottom: 1px solid #E4E4E4; margin-top: 30px; background-color: #ffffff; }
.yunFtitm { margin: 0px auto; width: 1210px; }
.yunFtitm ul li { float: left; height: 28px; width: 270px; padding-left: 32px; font: 18px/28px "Microsoft YaHei"; overflow: hidden; }
.yunFtitm ul li img { float: left; margin-right: 20px; }
.yunFotDlCon { background-color: #ffffff; }
.yunFotDl { height: 162px; margin: 0px auto; width: 1210px; padding-top: 24px; background-color: #ffffff; }
.yunFotDl dl { float: left; height: 162px; width: 155px; padding-left: 66px; border-right: 1px dotted #E6E6E6; }
.yunFotDl dl dt { display: block; height: 25px; margin-bottom: 5px; font: 18px/25px "Microsoft YaHei"; }
.yunFotDl dl dd { line-height: 22px; background: url(../images/yun_1.jpg) no-repeat left center; height: 22px; padding-left: 10px; }
.yunFotDl .yun_ftvx { width: 300px; padding-left: 0px; }
.yunFotDl .yun_ftvx strong { font-size: 12px; }
.yunFotDl .yun_ftvx dt { text-align: center; }
.yunFotDl .yun_lastDl { border-right-width: 0px; border-right-style: none; }
.yunFotCenter { text-align: center; padding: 20px 0px 25px; background-color: #ffffff; }
.yunFtinfo { color: #9c9c9c; line-height: 24px; text-align: center; padding-bottom: 15px; }


.mscBox { width: 1210px; margin-right: auto; margin-left: auto; }
.msc_nav1 { background: #E33638; height: 41px; position: relative; z-index: 9999; }
.msc_menu1 { background: #CD2A2D url(../images/sc_squer1.jpg) no-repeat 189px 18px; width: 195px; padding-left: 15px; font: 16px/41px "Microsoft YaHei"; color: #FFF; float: left; height: 41px; position: relative; cursor: pointer; }
.msc_menu2 { float: left; height: 41px; width: 735px;  padding-left: 20px; }
.msc_menu2 ul li { float: left; line-height: 41px; }
.msc_1a { display: block; float: left; font: 16px/41px "Microsoft YaHei"; color: #FFF; padding: 0px 20px; }
.msc_1cuta, .msc_1a:hover { background: #A40000; color: #FFF; }
.msc_lay1 { background: #F7F7F7 url(../images/sc_squer2.jpg) no-repeat 7px 6px; border: 1px solid #EFEFEF; line-height: 27px; float: left; height: 27px; width: 82px; padding-left: 37px; position: relative; margin-top: 6px; cursor: pointer; margin-right: 10px; }
.msc_sq1 { position: absolute; top: 12px; right: 6px; }
.msc_lay2 { line-height: 27px; background: #F7F7F7 url(../images/sc_squer4.jpg) no-repeat 6px 6px; height: 27px; width: 66px; padding-left: 46px; position: relative; float: left; margin-top: 6px; border: 1px solid #EFEFEF; }
.msc_sq2 { position: absolute; top: 9px; right: 9px; float: left; }
.msc_1s { background: url(../images/sc_squer2.png) no-repeat left top; position: absolute; left: 20px; top: -13px; padding-left: 6px; z-index: 20; }
.msc_1s span { line-height: 17px; color: #FFF; background: url(../images/sc_squer1.png) no-repeat right top; float: left; height: 21px; padding-right: 6px; }
.mt18 { margin-top: 18px; }
.msc_c1l { float: right; height: 395px; width: 980px; border: 1px solid #D9D9D9; }
.msc_c1box { padding: 0; overflow: hidden }
.msc_c1box1 { background: #F7F7F7; text-align: center; float: left; height: 278px; width: 208px; border: 1px solid #D9D9D9; margin-right: 13px; }
.msc_s1 { display: block; font: 60px/58px Arial; height: 58px; padding-top: 20px; color: #eb4800; }
.msc_s1 span { font-size: 40px; }
.msc_s2 { font: 16px/50px "Microsoft YaHei"; display: block; height: 50px; }
.msc_s3 { display: block; height: 60px; }
.msc_s4 { font: 16px/30px "Microsoft YaHei"; display: block; padding-top: 5px; }
.msc_red { color: #EB4800; }
.msc_c1imgBox { float: left; width: 710px; }
.msc_c1imgBox ul li { float: left; width: 345px; margin-right: 6px; }
.msc_c1r { float: right; width: 242px; }
.msc_c1rbox1 { background: #E3393A; height: 36px; padding: 3px 0px 0px 3px; }
.msc_int1 { line-height: 33px; background: #FFF; padding: 0px 5px; height: 33px; width: 164px; float: left; margin-right: 18px; border-width: 0px; border-style: none; }
.msc_submit { background: url(../images/sc_submit.jpg) no-repeat; float: left; height: 14px; width: 29px; margin-top: 10px; border-width: 0px; border-style: none; cursor: pointer; }
.msc_bor { border: 1px solid #D9D9D9; }
.msc_c1rbox2 { height: 110px; }
.msc_putT1 { border-top: 1px solid #FFF; background: url(../images/sc_tbg1.jpg) repeat-x left top; height: 34px; padding-left: 15px; font: 14px/34px "Microsoft YaHei"; border-bottom: 1px solid #D9D9D9; }
.mt13 { margin-top: 13px; }
.msc_svrTel { background: url(../images/msc_tel.jpg) no-repeat left 2px; margin: 19px 0px 0px 13px; height: 37px; padding-left: 57px; color: #9D9D9D; }
.msc_telnum { font-size: 21px; height: 23px; line-height: 22px; }
.msc_c1rbox3 { height: 225px; }
.msc_u1 { line-height: 24px; padding: 8px 0px 0px 12px; }
.msc_c1btn { background: url(../images/msc_btnbg1.jpg) repeat-x left bottom; height: 37px; }
.msc_c1btn ul li { line-height: 37px; text-align: center; float: left; height: 37px; width: 316px; padding-top: 0px; border-right: 1px solid #FFF; font-size: 14px; color: #FFF; cursor: pointer; }
.msc_c1btn ul .msc_c1cut { background-color: #e33638; }
.msc_t1 { background: url(../images/msc_tbg2.jpg) repeat-x left top; height: 46px; border-top: 1px solid #D9D9D9; border-right: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; padding-right: 18px; }
.msc_lnum { text-transform: uppercase; text-align: center; float: left; width: 63px; padding-right: 25px; color: #BABABA; background: url(../images/msc_tbg3.jpg) no-repeat; font: 36px/46px Arial; }
.msc_name1 { font-size: 24px; float: left; line-height: 44px; }
.msc_itmLink { float: left; line-height: 23px; padding: 5px 0; margin: 5px 0; }
.msc_itmLink a { font-family: "Microsoft YaHei"; margin: 0px 4px; }
.msc_imglist1 { padding: 16px 0px 0px 16px; width: 1192px; overflow: hidden; }
.msc_imglist1 ul li { margin: 0px 18px 0px 0px; float: left; height: 74px; width: 74px; background: url(../images/msc_logobg.jpg) no-repeat; text-align: center; padding: 8px 0px 10px; }
.msc_boxList { width: 1210px; overflow: hidden; }
.msc_boxLong { width: 1300px; }
.msc_bosInfo { margin: 0px 33px 23px 0px; float: left; height: 350px; width: 315px; border: 1px solid #D9D9D9; position: relative; padding: 23px 32px 0px; }
.msc_bosInfo2 { margin: 0px 33px 23px 0px; float: left; height: 475px; width: 211px; border: 1px solid #D9D9D9; position: relative; padding: 23px 32px 0px; }
.msc_imgSquer { position: absolute; left: 0px; top: 0px; z-index: 10; }
.msc_s5 { display: block; font-size: 16px; line-height: 42px; height: 42px; margin-top: 5px; }
.msc_div1 { height: 40px; line-height: 40px; overflow: hidden; }
.msc_div1 .fl { font: 34px/40px "Microsoft YaHei"; color: #EB4800; }
.msc_div1 .fl span { font-size: 20px; }
.msc_div1 .fr { padding-top: 5px; }
.msc_div2 { line-height: 26px; }
.msc_lay1Box { background: #FFF; min-height: 100px; _height: 100px; width: 310px; border: 1px solid #EFEFEF; position: absolute; left: -192px; top: 27px; display: none; }
.msc_lay1hover { background: #FFF; }
.msc_lay1Btn { background: #FFF url(../images/sc_squer6.jpg) no-repeat 7px 6px; height: 27px; width: 82px; border-top: 1px solid #EFEFEF; border-right: 1px solid #EFEFEF; border-bottom: 1px solid #FFFFFF; border-left: 1px solid #EFEFEF; z-index: 10; position: absolute; left: -1px; top: -1px; padding-left: 37px; display: none; }
.msc_perNmae { border-bottom: 1px solid #EFEFEF; padding: 0px 10px; line-height: 36px; height: 36px; }
.msc_lay1List { padding: 6px 0px 6px 15px; }
.msc_lay1u { float: left; width: 130px; border-right: 1px solid #F1F1F1; margin-right: 25px; }
.msc_blue { color: #005EA7; }
.msc_lay1List li { line-height: 24px; height: 24px; }
.msc_lay2u { float: left; width: 130px; }
.msc_lay1bom { background: #F3F3F3; height: 90px; padding-top: 5px; }
.msc_lay1bom strong { line-height: 26px; display: block; height: 26px; font-weight: normal; padding-left: 10px; }
.msc_lay1bom ul li { display: inline; float: left; height: 50px; width: 50px; margin-left: 8px; border: 1px solid #DDDDDD; }
.msc_lay2hover { background: #FFF url(../images/sc_squer4a.jpg) no-repeat 6px 6px; height: 27px; width: 66px; padding-left: 46px; border-top: 1px solid #EFEFEF; border-right: 1px solid #EFEFEF; border-bottom: 1px solid #FFFFFF; border-left: 1px solid #EFEFEF; position: absolute; z-index: 5; left: -1px; top: -1px; display: none; }
.msc_lay2box { background: #FFF; min-height: 100px; _height: 100px; width: 348px; border: 1px solid #EFEFEF; position: absolute; left: -237px; top: 27px; display: none; }
.msc_lay2box ul li { height: 62px; border-bottom: 1px dotted #EFEFEF; padding: 8px 10px 0px; }
.msc_lay2box ul li .fl img { border: 1px solid #DDDDDD; float: left; margin-right: 10px; }
.msc_lay2txt { line-height: 17px; color: #666; float: left; width: 160px; padding-right: 30px; }
.msc_layprice { text-align: right; float: right; width: 75px; line-height: 20px; padding-top: 5px; }
.msc_999 { color: #999; }
.msc_lay2bom { background: #F5F5F5; text-align: right; padding: 0px 10px; height: 72px; }
.msc_lay2bom span { font-size: 18px; font-weight: bold; }

.msc_menu4{width: 206px; border-right: 2px solid #E4393C; border-bottom: 2px solid #E4393C; border-left: 2px solid #E4393C; background: #FAFAFA; min-height: 90px; position: absolute; left: 0px; top: 41px; padding-bottom: 10px; display: block;}
.msc_menu3 { width: 206px; border-right: 2px solid #E4393C; border-bottom: 2px solid #E4393C; border-left: 2px solid #E4393C; background: #FAFAFA; min-height: 90px; position: absolute; left: 0px; top: 41px; padding-bottom: 10px; display: none; }
.msc_menu4 ul li,.msc_menu3 ul li { margin: 0px 5px; border-bottom: 1px solid #FFF; font-size: 14px; line-height: 30px; background: url(../images/sc_squer8.jpg) no-repeat 6px center; height: 30px; padding-left: 18px; }
.msc_menu4 ul li a,.msc_menu3 ul li a { margin-right: 8px; white-space: nowrap; }
.mal_ml { background: url(../images/menu_bg1.jpg) repeat-y right top; height: 270px; width: 192px; float: left; }
.mal_mlist { height: 168px; overflow: hidden; }
.mal_mlist ul li { line-height: 22px; background: url(../images/sc_squer9.gif) no-repeat left center; float: left; height: 22px; width: 72px; margin: 0px; padding-left: 10px; }
.mal_mr { float: right; width: 575px; }
.mal_topImg { height: 132px; margin-bottom: 12px; }
.mal_rlList { width: 575px; overflow: hidden; }
.mal_rlList ul li { float: left; width: 154px; background: url(../images/menu_bg1.jpg) repeat-y right top; height: 123px; padding: 2px 29px 0px 0px; margin: 0px 27px 0px 0px; }
.mal_rlList ul { width: 700px; }
.mal_rlList ul li img { border: 1px solid #DDDDDD; margin-bottom: 3px; }
.mal_price { line-height: 20px; text-align: center; }
.mal_price .msc_red { font: bold 16px Arial; }
.price { font: 34px/40px "Microsoft YaHei"; color: #EB4800; float:right; }
.msc_hidCon { height: 314px; overflow: hidden }
.msc2_t1 { line-height: 38px; background: url(../images/sc_tbg2.jpg) repeat-x left top; height: 38px; padding-left: 25px; border: 1px solid #D9D9D9; }
.msc2_t1 strong { font-size: 14px; color: #333; }
.msc2_t1 a { margin-right: 8px; }
.msc2_itm { text-align: right; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; width: 1208px; position: relative; padding: 12px 0px 4px; }
.msc2_itmBox { height: 150px; overflow: hidden; }
.msc2_itm ul li { line-height: 22px; margin-bottom: 12px; height: 26px; }
.msc2_itm ul li strong { color: #333; text-align: right; width: 100px; padding-right: 5px; float: left; }
.msc2_itmLink { float: left; width: 1090px; line-height: 22px; }
.msc2_cutA { color: #FFF; background: #979797; }
.msc2_cutA .msc_999 { color: #FFF; }
.msc2_itmLink .msc_blue { line-height: 22px; display: inline-block; padding: 0px 8px; height: 22px; cursor: pointer; }
.msc2_hideBtn { height: 24px; width: 87px; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; background: #FFF url(../images/sc_squer10.jpg) no-repeat 84px 9px; line-height: 24px; padding-left: 22px; cursor: pointer; position: absolute; left: 548px; top: -1px; z-index: 100 }
.msc2_itmBox2 { height: auto; }
.msc2_pxCon { background: #F7F7F7; height: 32px; border: 1px solid #D9D9D9; padding: 5px 10px 0px; }
.msc2_psL { float: left; }
.msc2_a1 { display: inline-block; padding: 0px 10px; height: 26px; margin-right: 5px; border: 1px solid #D9D9D9; line-height: 26px; }
.msc2_acut1, .msc2_acut1:hover { background: #E4393C; border: 1px solid #E4393C; color: #FFF; }
.msc2_pxR { float: right; padding-top: 2px; }
.msc2_prev:hover { background: url(../images/sc2_btn1ahv.jpg) no-repeat; }
.msc2_prev { background: url(../images/sc2_btn1a.jpg) no-repeat; display: inline-block; height: 22px; width: 60px; }
.msc2_next { display: inline-block; height: 22px; width: 60px; background: url(../images/sc2_btn2a.jpg) no-repeat; }
.msc2_next:hover { background: url(../images/sc2_btn2ahv.jpg) no-repeat; }
.msc2_noprev { background: url(../images/sc2_btn1.jpg) no-repeat; display: inline-block; height: 22px; width: 60px; }
.msc2_nonext { background: url(../images/sc2_btn2.jpg) no-repeat; height: 22px; width: 60px; display: inline-block; }
.msc2_pageNum { line-height: 22px; display: inline-block; padding: 0px 15px; height: 22px; float: left; }
.msc2_proNum { line-height: 22px; background: url(../images/menu_bg1.jpg) repeat-y right top; float: left; height: 22px; padding-right: 30px; }
.msc2_page { text-align: center; height: 32px; padding: 20px 0px 40px; font-family: "Microsoft YaHei"; }
.mpage_a, .mpage_nopage { line-height: 30px; display: inline-block; padding: 0px 14px; height: 30px; border: 1px solid #D9D9D9; margin-right: 3px; color: #898989; font-size: 14px; }
.mpage_cuta, .mpage_a:hover { color: #FFF; background: #D22A2C; text-decoration: none; border: 1px solid #D22A2C; }
.mproList .m2tec_txt { width: 554px; }
.mpage_nopage { color: #999; background: #EFF2F0; cursor: default; }
.msc2_moreItm { height: 25px; position: relative; margin-bottom: 20px; }
.msc3_l { float: left; width: 700px; }
.msc3_r { float: right; width: 473px; border-left: 1px dotted #D9D9D9; padding: 0px 17px 15px; }/*** min-height: 762px***/
.mc3_bigImg { margin: 20px auto 10px; width: 655px; padding: 0;border:4px solid #ccc; z-index: 100;position:relative}
.mc3_imgCon { margin: 0px auto 5px 18px; height: 80px; width: 655px; }
.ke_imgList { overflow: hidden; position: relative; }
.ke_imgList ul li { float: left; margin-right: 10px; cursor: pointer; overflow: hidden; }
.ke_imgList ul li img {padding: 1px;border: 1px solid #CECFCE;}
.ke_imgList ul li img.hover {border: 2px solid #e4393c;padding: 0;}
.ke_btnSpanL .ke_noBtn { background: url(../images/3ff1e160a03249af9e83abe7fe1f556c.gif); }
.ke_btnSpanR .ke_noBtn { background: url(../images/3ff1e160a03249af9e83abe7fe1f556c.gif); }
.ke_bigImg { width: 478px; height: 382px; padding: 1px; border: 1px solid #ccc; margin: 0px 0px 10px 55px; }
.msc3_p1 { font-size: 16px; line-height: 26px; padding-top: 12px; }
.msc3_p2 { line-height: 12px; padding: 10px 0px 12px; }
.msc3_p3 { padding: 8px 0px 12px; line-height: 26px; font-size: 14px; border-top: 1px dotted #D9D9D9; border-bottom: 1px dotted #D9D9D9; }
.msc3_b1 { line-height: 34px; font-size: 14px; font-weight: bold; }
.msc3_tab table td { line-height: 18px; padding: 6px; border: 1px solid #D9D9D9; }
.msc3_p4 { line-height: 26px; padding: 10px 0px; font-size: 14px; }
.msc_tho { text-decoration: line-through; }
.msc3_p4 .msc_red { font-size: 28px; }
.msc3_p5 { line-height: 28px; min-height: 28px; _height: 28px; border: 1px solid #C00; border-radius: 5px; margin-bottom: 15px; }
.msc3_zp { font-size: 14px; line-height: 28px; color: #FFF; background: #C00; float: left; height: 28px; width: 50px; border-radius: 5px 0 0 5px; font-weight: bold; padding-left: 14px; }
.msc3_fjList { float: left; width: 365px; padding-left: 15px; line-height: 28px; }
.msc3_fjList ul li { line-height: 28px; float: left; height: 28px; padding-right: 18px; }
.msc3_fjList ul li img { margin: 6px 6px 0px 0px; float: left; }
.msc3_cbx1 { height: 29px; margin-bottom: 15px; }
.msc3_sname { text-align: right; float: left; width: 75px; line-height: 29px; font-size: 14px; }
span.txt  {line-height: 29px; font-size: 14px; height: 29px;}
.msc3_ssel { float: left; width: 370px; }
.msc3_bs1 { float: left; height: 39px; position: relative; margin-right: 7px; }
.msc3_posImg { display: none; position: absolute; right: 0px; bottom: 0px; }
.msc3_bscut1 .msc3_posImg { display: block; padding-bottom:10px; }
.msc3_alink1 { line-height: 27px; text-align: center; height: 27px; border: 1px solid #D9D9D9; display: block; background: #FFF; padding-left: 10px; padding-right: 10px; display: block; }
.msc3_bscut1 .msc3_alink1, .msc3_alink1:hover { height: 25px; border: 2px solid #E5383C; padding-left: 9px; padding-right: 9px; line-height: 25px; }
.msc3_cbx2 { min-height: 49px; _height: 49px; }
.msc3_cbx2 .msc3_bs1 { height: 49px; }
.msc3_cbx2 .msc3_alink1 { line-height: 47px; height: 47px; width: 105px; text-align:left }
.msc3_cbx2 .msc3_bscut1 .msc3_alink1,.msc3_cbx2 .msc3_alink1:hover { height: 45px; width: 103px; line-height: 45px; text-align:left }
.msc3_cor { height: 41px; width: 44px; display: block; float: left; margin: 3px 10px 0px 3px; _margin-left:1px; }
.msc3_bscut1 .msc3_cor,.msc3_alink1:hover .msc3_cor { margin-top: 2px; margin-left: 2px; _margin-left:1px; }
.msc3_bs2 { width: 196px; }
.msc3_bs2 .msc3_alink1 { width: 194px; }
.msc3_bs2 .msc3_bscut1 .msc3_alink1,.msc3_bs2 .msc3_alink1:hover { width: 192px; }
.msc3_btnList { text-align: center; }
.msc3r_bom { background: #F3F3F3; padding: 15px 0px 15px 10px; }
.mcs3_bbl { float: left; width: 211px; }
.mcs3_bbr { float: right; width: 985px; }
.msc3_chg1 .chgBtnList { background: url(../images/msc3_chgbg.jpg) no-repeat left bottom; height: 36px; }
.msc3_chg1 .chgBtnList ul .chgBtn { line-height: 28px; padding: 0px 12px; float: left; height: 28px; margin-top: 6px; font-size: 14px; }
.msc3_chg1 .chgBtnList ul .chgBtn.chgCutBtn { border-top: 2px solid #C00; border-right: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; line-height: 30px; background: #FFF; height: 30px; margin-top: 0px; padding-bottom: 4px; font-weight: bold; color: #C00; }
.msc3_chg1 .chgConList { padding: 0px 6px 6px; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; }
.msc3_u1 li { padding: 10px 3px 0px; height: 58px; border-bottom: 1px dotted #D9D9D9; }
.msc3_txt1 { float: right; width: 135px; line-height: 22px; }
.msc3_sp1 { display: block; height: 22px; margin-bottom: 4px; }
.msc3_u1 li .fl img { border: 1px solid #D9D9D9; }
.msc3_t2 { line-height: 29px; background: #F7F7F7; height: 29px; padding-left: 10px; border-top: 1px solid #D9D9D9; }
.msc3l_bomList ul li { margin: 0px auto; width: 198px; border-bottom: 1px dotted #D9D9D9; height: 172px; padding-top: 20px; text-align: center; }
.msc_bor ul li img { margin-right: 6px; }
.msc3_txt2 { line-height: 26px; text-align: center; }
.msc3_txt2 .msc_red{color:#EB4800}
.msc3_chg2 .chgBtnList { line-height: 33px; height: 33px; border-left: 1px solid #D7D7D7; }
.msc3_chg2 .chgBtnList ul .chgBtn { line-height: 32px; background: url(../images/msc3_bg1.jpg) no-repeat; float: left; height: 33px; width: 92px; text-align: center; }
.msc3_chg2 .chgBtnList ul .chgBtn.chgCutBtn { color: #FFF; background: #E64548; }
.msc3_chg2 .chgConList .chgCon { padding: 10px 15px; }
.msc3_mbImg { text-align: center; padding: 15px 0px; }
.msc3_mbTxt { text-align: left; padding: 15px 0px; font-size: 14px; }
.msc_impr { padding: 8px 15px 10px; color: #C00; font-family: "Microsoft YaHei"; line-height: 24px; }
.msc_bor strong { line-height: 26px; display: block; height: 26px; margin-bottom: 5px; color: #333; font-size: 14px; }
.msc3_t3 { font-size: 14px; line-height: 38px; font-weight: bold; height: 38px; display: block; }
.mcs3_box { padding-bottom: 18px; }
.mcs3_logo { float: left; height: 154px; width: 158px; }
.mcs3_tab { float: right; width: 780px; }
.mcs3_tab td { line-height: 30px; padding: 5px 10px; border: 1px solid #D9D9D9; }
img.verified { vertical-align:middle; }
.msc3_txt3 { line-height: 24px; font-family: "Microsoft YaHei"; }
.msc3_svr { line-height: 24px; }
#comment { padding: 0px; }
#comment .mc {border-width: 0 1px 1px;overflow: hidden;padding: 10px 0; height:90px;}
#comment .rate { width: 190px; }
#comment .rate { float: left; padding: 4px 0 0; text-align: center; width: 120px; }
#comment .rate strong { color: #E4393C; font: 46px/46px arial!important; height:46px; display: block; text-align: center }
#comment .rate strong span { color: #E4393C; font-size: 24px; }
#comment .rate span { color: #999999; font-family: arial; }
#comment .percent { border-right: 1px solid #E4E4E4; float: left; height: 74px; padding: 8px 0; width: 186px; }
#comment .percent dl { overflow: hidden; padding: 2px 0; height:17px; overflow:hidden }
#comment .percent dt { float: left; width: 70px; }
#comment .percent span { color: #9C9A9C; }
#comment .percent dd { background: #EFEFEF; float: left; height: 10px; margin-top: 6px; overflow: hidden; width: 100px; }
#comment .percent dd div { background:#ED0000; height: 10px; overflow: hidden; width: 0; }
#comment .actor { border-right: 1px solid #E4E4E4; float: left; height: 85px; line-height: 15px; overflow: hidden; padding: 5px 15px 0; position: relative; width: 420px; }
#comment .btns { float: right; height: 75px; line-height: 20px; padding-top: 5px; text-align: center; width: 140px; }
#comment .btn-comment { display: block; height: 25px; line-height: 25px; margin: 5px auto; overflow: hidden; width: 113px; background: url(../images/mcs3_squer2.jpg) no-repeat; }
.hl_red, a.hl_red, .hl_red:hover, .hl_red:visited, #summary .hl_red { color: #E4393C; }
#comment .btns a { color: #005AA0; }
.msc3_psT { line-height: 16px; height: 16px; margin-bottom: 10px; }
.msc3_plist ul li { line-height: 21px; background: #FEECD3; margin: 0px 5px 5px 0px; float: left; height: 21px; white-space: nowrap; padding: 0px 10px; }
.msc3_pln { padding: 10px 15px; }
.msc3_chg3 { height: 33px; border-bottom: 1px solid #D9D9D9; }
.msc3_chg3 li { background: url(../images/msc3_bg1.jpg) no-repeat 0 0; float: left; height: 33px; line-height: 32px; text-align: center; width: 92px; cursor: pointer; }
.msc3_chg3 .msc3_chg3Cut {background:#E64548;color: #FFFFFF;}
.msc3_plItm { padding-top: 14px; }
.msr3_imgBg { background: url(../images/mcs3_headimgbg.jpg) no-repeat; margin: 10px 0px 0px; padding: 9px 0px 0px 9px; float: left; height: 57px; width: 57px; }
.msr3_rBox { padding: 6px 15px 10px; width: 858px; border: 1px solid #DBDBDB; min-height: 100px; _height: 100px; position: relative; float: right; background: #FCFFFA; }
.msr3_absImg { position: absolute; left: -12px; top: 10px; }
.msr3_pcon1 { padding: 6px; height: 14px; border-bottom: 1px solid #D9D9D9; line-height: 14px; }
.msr3_tab { line-height: 20px; }
.msc3_plLi2 span { color: #999; text-align: right; width: 60px; line-height: 20px; float: left; }
.msc3_txt4 { float: right; width: 790px; }
.msc3_plLi2 { margin-top: 10px; }
.msc3_txt4 em { font-style: normal; line-height: 20px; padding: 0px 10px; float: left; height: 20px; margin-right: 5px; background: #FDEDD2; }
.msc3_btn2 { line-height: 20px; display: inline-block; padding: 0px 10px; height: 20px; margin-right: 5px; background: #F4F4F4; border: 1px solid #D9D9D9; }
.msc3_plLi1 { margin-bottom: 10px; }
.msc3_con2{padding-bottom:50px;}
.mcr_con1 { height: 66px; margin-top: 30px; }
.mcr_1l { line-height: 24px; float: left; height: 24px; }
.mcr_1l strong { float: left; padding-right: 40px; font: 22px "Microsoft YaHei"; }
.mcr_btn { position: relative; top:-2px; }
.mcr_1l .fl{padding-top:3px;}
.mcr_1r { float: right; padding-top: 6px; }
.mcr_1r ul li { background: url(../images/mcar_bg2.jpg) no-repeat; float: left; width: 157px; }
.mcr_num { display: block; line-height: 23px; color: #FFF; padding-left: 75px; }
.mcr_p1 { line-height: 24px; text-align: center; display: block; height: 24px; }
.mcr_1r ul .mcr_1cut { background: url(../images/mcar_bg1.jpg) no-repeat; }
.mcr_1cut .mcr_p1 { color: #7ABD54; }
.mcr_con2 { padding: 40px 0px 40px 55px; width: 275px; margin-right: auto; margin-left: auto; background: url(../images/mcar_img1.jpg) no-repeat left center; }
.mcr_con2 { color: #85B664; font: 24px "Microsoft YaHei"; }
.mcr_portab table { border-top: 2px solid #D9D9D9; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; }
.mcr_portab td { border-top: 1px solid #D9D9D9; padding: 10px; }
.mcr_portab .mcr_th td { line-height: 36px; height: 36px; padding-top: 0px; padding-bottom: 0px; background: #F7F7F7; font-size: 14px; }
.mcr_cke { position: relative; top: 2px; }
.mcr_portab .mcr_th2 td { font-weight: bold; background: #DBEEFD; }
.mcr_proImg { height: 50px; width: 50px; border: 1px solid #D9D9D9; padding: 1px; float: left; margin-right: 10px; overflow:hidden }
.mcr_proImg img{width:50px; height:50px;}
.mcr_proDec { width: 420px; float: left; line-height: 18px; }
.mcr_svr { line-height: 28px; }
.mcr_p2 { line-height: 54px; height: 84px; border-right: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; padding: 0px 10px; }
.mcr_del { background: url(../images/mcr_sq3.jpg) no-repeat left center; padding-left: 14px; color: #005EA7; line-height: 34px; height: 34px; }
.mcr_p2r { float: right; width: 250px; }
.mcr_p2r ul li { line-height: 27px; height: 27px; }
.mcr_p2r ul li .fl { text-align: right; float: left; width: 94px; }
.mcr_p2r ul li .fr { text-align: right; width: 130px; }
.mcr_p3 { line-height: 50px; background: #F7F7F7; height: 50px; padding-right: 10px; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; font-size: 18px; color: #C00; text-align: right; }
.mcr_p3 strong { font-size: 14px; color: #333; }
.mcr_intNum { height: 20px; width: 34px; text-align: center; }
.mcr_btn2 { height: 53px; padding-top: 10px; }
.mcr_chgPro { margin-top: 46px; border: 1px solid #D9D9D9; height: 261px; position: relative; padding: 22px 12px 0px; }
.mcr_chgNmae { line-height: 30px; background: url(../images/mcr_bg1.jpg) no-repeat; text-align: center; height: 30px; width: 230px; position: absolute; left: 0px; top: -30px; font-weight: bold; }
.mcr_chgBtn1 { float: left; cursor: pointer; margin: 95px 28px 0px 0px; }
.mcr_chgBtn2 { float: right; margin-top: 95px; cursor: pointer; }
.mcr_proBox { float: left; height: 252px; width: 1096px; overflow: hidden; }
.mcr_proLong { width: 1000000px; }
.mcr_proLong ul { float: left; }
.mcr_proLong ul li { float: left; width: 244px; margin-right: 40px; text-align: center; display: inline; }
.mcr_imgBox { text-align: center; height: 192px; padding-top: 14px; border: 1px solid #D9D9D9; margin-bottom: 10px; }
.mcr_imgBox img { margin-bottom: 10px; }
.mcr_proConBox { padding-bottom: 35px; }
.mcr_1r ul .mcr_1cut2 { background: url(../images/mcar_bg3a.jpg) no-repeat; }
.mcr_1cut2 .mcr_p1{color:#BCE8A3}
.mcr_bor { border: 1px solid #DDDDDD; }
.mcr_tt1 { line-height: 35px; height: 35px; border-bottom: 1px solid #dddddd; padding-left: 12px; font-size: 16px; background: #F7F7F7; }
.mcr_up1 { border-bottom: 1px solid #dddddd; }
.mcr_up1a { padding: 10px 20px 20px; }
.mcr_b1 { font-size: 15px; line-height: 28px; display: block; }
.mcr_b1 span .msc_blue { cursor: pointer; font-size: 12px; font-weight: normal; }
.mcr_txt1 { line-height: 24px; padding: 8px 0px 8px 22px; font-family: "Microsoft YaHei"; }
.mcr_up1b,.mcr_up2b,.mcr_up3b { border: 3px solid #FF6600; padding: 7px 17px 17px; }
.mcr_up1b ul li { line-height: 28px; min-height:28px; _height: 28px; margin: 0px 26px 5px; padding-left: 5px; }
.mcr_radion { position: relative; top: -4px; top:0px\9; }
.mcr_up1b ul .mcr_hoverLi,.mcr_up1b ul .mcr_cutLi,.mcr_Li2cut,.mcr_li3Cut { background: #FFF4D3; }
.mcr_up1b ul .mcr_hoverLi .hidden,.mcr_up1b ul .mcr_cutLi .hidden{display:inline}
.mcr_newInfo dl dd { line-height: 26px; min-height:26px; _height: 26px; margin-bottom: 12px; }
.mcr_newInfo dl dd span { line-height: 26px; float: left; width: 80px; text-align: right; padding-right: 5px; }
.mcr_int1 { line-height: 24px; padding: 0px 5px; width: 250px; height: 24px; }
.mcr_newInfo { padding-top: 6px; }
.mcr_btn3 { background: url(../images/mcar_btn1.jpg) no-repeat; height: 30px; width: 130px!important; border-width: 0px; border-style: none; cursor: pointer; }
.mcr_clik1 { cursor: pointer; }
.mcr_up2a,.mcr_up3a { padding: 10px 20px 20px; }
.mcr_clik2,.mcr_clik3 { cursor: pointer; }
.mcr_up2a ul li,.mcr_up2b ul li { line-height: 28px; height: 28px; margin-bottom: 5px; padding-left: 5px; }
.mcr_ups1 { line-height: 28px; float: left; height: 28px; width: 165px; }
.mcr_btn4 { background: url(../images/mcar_btn2.jpg) no-repeat; height: 30px; width: 130px!important; border-width: 0px; border-style: none; cursor: pointer; }
.mcr_tt2 { font-size: 15px; line-height: 28px; font-weight: bold; height: 28px; border-bottom: 1px dotted #FFE6BC; margin: 10px 25px 0px; }
.mcr_up3b ul li { line-height: 28px; margin: 0px 25px 5px; min-height: 28px; _height: 28px; padding-left: 5px; }
.mcr_editor2 { cursor: pointer; }
.mcr_upcon ul li { padding-left: 35px; }
.mcr_btn5 { background: url(../images/mcar_btn3.jpg) no-repeat; height: 30px; width: 130px!important; border-width: 0px; border-style: none; cursor: pointer; }
.mcr_submit { background: url(../images/mcr_btn7.jpg) no-repeat; height: 36px; width: 135px!important; border-width: 0px; border-style: none; cursor: pointer; }
.mcr_upcon ul li span { float: left; width: 100px; padding-right: 5px; text-align: right; }
.mus_c1 { line-height: 38px; color: #F07200; background: #FFFDEE; padding: 0px 25px; height: 38px; border: 1px solid #E0D899; margin-bottom: 10px; }
.mus_c2 { background: #F4FCED url(../images/mcr_last.jpg) no-repeat 40px 40px; padding: 20px 30px 30px 95px; border-top: 3px solid #7DB955; }
.mus_b1 { font-size: 18px; line-height: 42px; color: #85BA62; display: block; height: 42px; }
.mus_c3 { line-height: 38px; background: #FFF; padding: 5px 0 10px 25px; height: 120px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 10px 0px; }
.mus_c4 { line-height: 24px; }
.mus_c5 { line-height: 60px; }
.mus_c5 a { margin-right: 10px; }

.msc_c1btn a{color:#fff;}

.msc_bosInfo .templatePic img {width:315px;height:230px;}
.msc_bosInfo .templatePic{position:relative;overflow:hidden;}
.msc_bosInfo .templatePic a img{position:relative;}
.msc_bosInfo2 .templatePic2 img {width:211px;height:356px;}
.msc_bosInfo2 .templatePic2{position:relative;overflow:hidden;}
.msc_bosInfo2 .templatePic2 a img{position:relative;}
.msc_bosInfo .caption{position:absolute;bottom:0px;left:0px;width:100%;display:none;background:#005EA7;color:#ffffff;opacity:0.8;}
.msc_bosInfo .caption .captionInside{padding:10px;margin:0px;}
.msc_bosInfo .caption .captionInside a{ color: #ffffff}
.msc_bosInfo2 .caption{position:absolute;bottom:0px;left:0px;width:100%;display:none;background:#005EA7;color:#ffffff;opacity:0.8;}
.msc_bosInfo2 .caption .captionInside{padding:10px;margin:0px;}
.msc_bosInfo2 .caption .captionInside a{ color: #ffffff}

.cloud-zoom-lens { border: 4px solid #888; margin:-4px; background-color:#fff;  cursor:move;}
.cloud-zoom-big { overflow:hidden;}
.cloud-zoom-loading { color:white;  background:#222; padding:3px; border:1px solid #000;}

/*==================bootstrap additional====================*/
img {max-width: none;}
.breadcrumb_outside {background-color:#f5f5f5;}
.breadcrumb_inside { margin: 0px auto; width: 1210px; height: 36px; position: relative; }
.breadcrumb_inside .breadcrumb {padding-left: 0;}

.navigation_outside {background-color:#E33638;height: 41px;}
.navigation_inside { margin: 0px auto; width: 1210px; height: 41px; position: relative; }
.breadcrumb {text-align:left;}
.breadcrumb li{float:left}
.hero-unit {padding-bottom: 30px; margin-bottom: 0}
.hero-unit h1 {font-size: 32px; color: #333; padding: 10px 0}
.hero-unit p {color: #333; padding: 10px 0}

.row{color: rgb(83, 83, 85);display: block;font-size: 16px;line-height: 26px;margin-left: -20px;width: 960px;}
.headline{box-sizing: border-box;color: rgb(83, 83, 85);display: block;float: left;font-size: 16px;line-height: 26px;margin-bottom: 10px;margin-left: 20px;margin-top: 20px;min-height: 1px;text-align: center;width: 960px;}
.headline h1{color: rgb(83, 83, 85);display: block;font-size: 35px;ont-weight: normal;height: 50px;line-height: 40px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;margin-top: 10px;text-align: center;text-rendering: optimizelegibility;}
.headline h2{color: rgb(112, 119, 125);display: block;font-size: 24px;font-weight: normal;line-height: 34px;margin-left: 0px;margin-right: 0px;margin-top: 10px;text-align: center;text-rendering: optimizelegibility;}
.mns_editor p {text-indent:28px}
.mns_editor h3 {margin:10px 0px 0px;padding:10px 0px 0px;font-size:18px;color:#4f545e;line-height:2;}
.mns_editor ul {margin:1em 0px 1.5em 2em;padding:0px 2em 0px 0px;list-style:square inside url(../images/pointer.png);color:#333333;font-size:14px;line-height:18px;}
.mns_editor ul li {margin:5px 0px 10px;padding:0px;line-height:1.8;}
.mns_editor ul li p { display: inline; padding-left: 5px;}
.mns_editor a {color:#F60;}


/*12-30*/
.yunnTop { line-height: 36px; background: #F5F5F5; height: 36px; }
.yunnTop_p { line-height: 36px; margin: 0px auto; width: 1210px; }
.yunnNavBg { background: #E33638; height: 41px; }
.keautoCon5{width:1180px; height:640px; margin:0 auto}
.keautoBox5{ position: relative; width: 100%; overflow: hidden; height: 640px; background:#2E3137 ; }
.yunn_t1 { font-size: 26px; font-family: "Microsoft YaHei"; text-align: center; height: 90px; }
.yunnMain { background: #EEEEEE; padding-top: 37px; }
.yunn_u1 { width: 1170px; overflow: hidden; margin: 0px auto; }
.yunn_u1 ul { width: 1200px; }
.yunn_u1 ul li { background: url(../images/yunnbg1.jpg) no-repeat; margin: 0px 30px 40px 0px; float: left; height: 730px; width: 570px; position: relative; }
.yunn_st1 { font: 22px/56px "Microsoft YaHei"; padding: 6px 0px 0px 23px; height: 56px; }
.yunn_ico1 { position: absolute; top: 0px; right: 0px; }
.yunn_imgBox { margin: 0px auto 20px; height: 530px; width: 530px; }
.yunn_chgBtn { height: 62px; text-align:center }
.yunn_s1 { background: url(../images/yunn_ico2.jpg) no-repeat; display: inline-block; margin: 0px 5px; height: 12px; width: 12px; cursor: pointer; }
.yunn_s2 { background: url(../images/yunn_ico1.jpg) no-repeat; }
.yunn_btnBox { padding-left: 19px; height: 44px; }
.yunn_btnBox img { float: left; margin-right: 11px; }
.yunn_t2 { text-align: center; height: 84px; font: 26px/84px "Microsoft YaHei"; }
.yunn_u2 { width: 1170px; overflow: hidden; margin: 0px auto; }
.yunn_u2 ul { width: 1300px; }
.yunn_u2 ul li { float: left; width: 370px; margin-right: 30px; height: 196px; }
.yunn_u2bx { background: url(../images/yunn_bg3.jpg) no-repeat center top; text-align: center; padding: 20px 26px 0px; height: 106px; font: normal 15px/22px "Microsoft YaHei"; color: #666; }
.yunn_u2txt { color: #666; line-height: 32px; text-align: center; }
.yunnFtLink { border-top: 5px solid #E33638; margin-top: 9px; }
.yunnL { float: left; width: 210px; }
.yunnR { float: right; width: 989px; padding-top: 10px; }
.yunn_menu { display: block!important; position: static; }
.yunnNews { margin: 0px auto; width: 1210px; }
.yunnl_box { border-top: 2px solid #D9D9D9; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; margin: 5px 0px; }
.yunnl_t1 { line-height: 30px; background: #F7F7F7; height: 30px; padding-left: 10px; }
.yunnl_box2 { height: 386px; overflow: hidden; padding: 0px 5px; }
.yunnl_box2 ul li { text-align: center; height: 173px; padding-top: 20px; border-bottom: 1px dotted #D9D9D9; }
.yunnl_box2 ul li img { margin-bottom: 8px; }
.yunnl_box2 ul li strong { line-height: 38px; color: #EB4800; }
.yunnl_ban img { margin-bottom: 20px; display: block; }
.yunnRbox { border: 1px solid #D9D9D9; height: 1010px; padding: 15px 32px 0px; }
.yunn_newT { border-bottom: 1px solid #D9D9D9; text-align: center; font: 20px/50px "Microsoft YaHei"; }
.yunn_newinfo { line-height: 42px; color: #999; text-align: center; height: 60px; }
.yunn_newTxt { color: #666; padding: 0px 12px; height: 850px; overflow-y: auto; font: 14px/30px "Microsoft YaHei"; }
.yunn_bom { border-top: 2px solid #666666; border-right: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; border-left: 1px solid #D9D9D9; margin: 0px auto 20px; width: 1210px; }
.yunn_bomL { float: left; width: 190px; border-right: 1px solid #D9D9D9; background: url(../images/yunnbg2.jpg) no-repeat left bottom; height: 288px; padding: 0px 10px; font-family: "Microsoft YaHei"; }
.yunn_bt1 { font-size: 14px; line-height: 32px; height: 32px; padding-bottom: 5px; }
.yunn_bt2 { font-size: 16px; line-height: 34px; color: #999; height: 34px; padding-bottom: 3px; }
.yunn_bp1 { line-height: 18px; color: #999; }
.yunn_bomR { float: right; width: 978px; padding-right: 10px; }
.yunnr_t2 { line-height: 32px; height: 32px; }
.yunnr_t2 .fr, .yunnr_t2 .fr:hover { color: #005EA7; }
.yunnr_btn1 { margin: 85px 36px 0px 0px; float: left; cursor: pointer; }
.yunnr_bom { padding-top: 20px; }
.yunnr_proBox { float: left; height: 228px; width: 882px; }
.yunnr_btn2 { float: right; margin-top: 85px; cursor: pointer; }
.yunnr_proBox ul li { text-align: center; float: left; width: 163px; display: inline; margin-right: 16px; font-size: 12px; }
.yunnr_proBox ul li img { margin-bottom: 15px; }
.yunnr_xing { text-align: center; height: 16px; padding-top: 6px; overflow:hidden }
.yunn_talk { line-height: 28px; text-align: center; }
.yunnr_proBox ul li strong { line-height: 28px; color: #EB4800; }
.ybanL { color: #FFF; float: left; width: 510px; padding-top: 90px; }
.ybanR { padding: 100px 5px 0px 0px; float: right; }
.ybanl_t1 { font-size: 30px; letter-spacing: 0.05em; line-height: 42px; margin-bottom: 10px; }
.ybanl_t2 { font-size: 20px; line-height: 36px; height: 36px; margin-bottom: 42px; }
.ybanl_li { height: 87px; }
.ybanl_txt { float: left; width: 355px; padding-left: 25px; font-size: 14px; line-height: 22px; color: #97989B; }
.ybanl_txt strong { font-size: 16px; line-height: 22px; height: 22px; margin-bottom: 8px; color: #FFF; display: block; }
.yunn_submit,.yunn_submit:hover { font-size: 18px; line-height: 60px; color: #FFF; background: url(../images/yunn_btnbg.jpg); text-align: center; display: block; height: 60px; width: 228px; margin-top: 35px; }

.loading { height: 100px; width : 100%; text-align: center; padding-top: 40px;}
.loading span {margin-top:10px;}

/*2014-01-03 CSS*/
.yunnl_t2 { line-height: 43px; background: #F0F0F0; height: 43px; padding-left: 16px; font-size: 14px; font-weight: bold; border-top: 1px solid #DADADA; border-right: 1px solid #DADADA; border-bottom: 2px solid #DADADA; border-left: 1px solid #DADADA; }
.yunnl_menu { border-right: 1px solid #E8E6E5; border-bottom: 1px solid #E8E6E5; border-left: 1px solid #E8E6E5; }
.yunnl_menu dl dt { line-height: 40px; background: #F7F6F3 url(../images/yunn_sq1.jpg) no-repeat right center; height: 40px; border-top: 1px solid #E8E6E5; padding-left: 30px; cursor: pointer; }
.yunnl_menu dl dd ul li { line-height: 30px; height: 30px; padding-left: 18px; }
.yunnl_menu dl dd { padding: 15px 0px; }
.yunnl_menu dl .yunnl_cutDt { color: #FFF; background: #E33638 url(../images/yunn_sq2.jpg) no-repeat right center; }
.yunn_cutA { font-weight: bold; color: #cc0000; }
.yunmR { float: right; width: 993px; }
.yunmTop { background: url(../images/yunn_bg4.jpg) no-repeat; height: 90px; margin-bottom: 8px; position: relative; }
.yunm_int { line-height: 26px; background: url(../images/3ff1e160a03249af9e83abe7fe1f556c.gif); height: 26px; width: 390px; border: 0 !important; position: absolute; left: 252px; top: 32px; }
.yunm_int:hover {border: 0 !important;}
.yunmSerBtn { background: url(../images/yunn_btn5.jpg) no-repeat; height: 30px; width: 33px !important; border-width: 0px; border-style: none; position: absolute; top: 30px; right: 297px; cursor: pointer; }
.yumRbox { width: 991px; margin-left: 1px; }
.yum_t1 { background: #F7F7F7; height: 27px; border: 1px solid #DDDDDD; font: 14px/27px "Microsoft YaHei"; padding-left: 11px; }
.yum_box1 { height: 106px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; padding: 16px 0px 0px 145px; }
.yum_box1 ul li { text-align: center; float: left; width: 135px; }
.yum_box1 ul li img { margin-bottom: 10px; }
.yum_box2 { background: #F4F4F4; padding: 20px 0px 0px 130px; height: 208px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; }
.yum_box2 ul li { text-align: center; float: left; width: 145px; }
.yum_bx2txt { line-height: 18px; text-align: center; padding: 8px 15px 0px; height: 42px; color: #9A9A9A; }
.yum_btn,.yum_btn:hover { line-height: 22px; color: #FFF; background: url(../images/yum_btn.jpg) no-repeat; text-align: center; height: 22px; width: 70px; display: inline-block; }

/*10.27add*/
.templetListBoxBg{ background-color:#eeeeee;}
.templetListBox{ margin:0 auto; overflow:hidden;}
.templetListBox h2{ line-height:30px; padding:33px 0 40px 0; color:#333333; font-family:"微软雅黑"; font-size:26px; text-align:center;}
.templetListBox .oneTemplet{ float:left; width:271px; height:743px; margin-right:40px;}
.templetListBox .templetList{ width:271px; height:565px; list-style:none; margin:0 0 11px 0; overflow:hidden;}
.templetListBox .templetList li{ float:left; width:255px; height:484px; margin:0; padding:81px 0 0 16px; background:url(../images/templetlistbg1.png) no-repeat;}
.templetListBox .new{ display:block; width:81px; height:92px; background:url(../images/new.png) no-repeat; position:absolute; left:179px; top:5px;}
.templetListBox .templetBtns{ width:78px; height:26px; list-style:none; padding:576px 0 31px 0; margin:0 auto; text-align:center; overflow:hidden;}
.templetListBox .templetBtns li{ float:left; width:26px; height:26px; margin:0;}
.templetListBox .templetBtns li a{ display:block; width:13px; height:13px; padding:7px 7px 6px 6px; background:url(../images/templetbtns1.jpg) no-repeat 6px 7px;}
.templetListBox .templetBtns li.on a{ background:url(../images/templetbtns2.jpg) no-repeat 6px 7px;}
.templetListBox .apply{ display:block; width:258px; height:42px; line-height:42px; margin:0 0 68px 12px; background-color:#e23e3f; border-radius:3px; text-align:center; color:#eeeeee; text-decoration:none; font-family:"微软雅黑"; font-size:20px;}

.templetListBox .oneTemplet2{ float:left; width:271px; height:171px; margin-right:40px;}
.templetListBox .templetList2{ width:271px; height:171px; list-style:none; margin:0 0 11px 0; overflow:hidden;}
.templetListBox .templetList2 li{ float:left; width:271px; height:171px; }

.serv { float:left; width:271px; margin-right:40px; height:195px;}
#list li span.img{display:none;}
#list { display:inline-block;}
#list li a:hover{position:relative;}
#list li a:hover span.img{display:block;position:absolute;top:-255px;left:0px; padding:10px; border:1px solid #dedede; background-color: #FFF;}

/*11.14 新增页面*/
.pt10 { padding-top:10px;}
.txtLeft { float:left; width:209px; border-left:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; font-size:15px; text-align:center; background:#fbfbfb url(../images/li_txtbg.jpg) no-repeat center bottom;}
.txtLeft dl { padding-bottom:55px;}
.dl_dt { display:block; background:url(../images/li_txt1.jpg) no-repeat center center; height:42px; line-height:42px; color:#FFF; width:210px; margin:0px; padding:0px;}
.txtLeft dd { clear:both; display:block; background:url(../images/li_txt2.jpg) no-repeat 190px center; line-height:42px; height:42px; color:#333333; border-bottom:1px solid #dddddd;}
.txtLeft .dd_cut { background:url(../images/li_txt3.jpg) no-repeat 190px center;}
.txtLeft .dd_cut a { color:#cd2a2d;}
.txtRight { float:right; width:980px; min-height:843px; border:1px solid #dddddd;}
.conTitle { font-size:34px; color:#333333; line-height:80px; height:80px; padding-top:10px; width:930px; margin:0 auto; text-align:center; border-bottom:1px solid #dddddd;}
.txtCon { font-size:15px; color:#333333; line-height:28px; padding:20px 25px 20px;}
.pt12 { padding-top:12px;}
/**导航下拉**/
 #nav { position:relative;}
 #nav ul { list-style-type:none; }
 #nav ul li { float:left; position: relative;}
 #nav ul li a {  display:block; text-decoration:none;}
 #nav ul li ul {display: none;}
 #nav ul li:hover ul {display: block; position: absolute; top:41px; min-width:190px; left:0; z-index:99999} 
 #nav ul li:hover ul li a {display:block; background:#E33638; color:#ffffff; width: 104px; text-align: center; border-top: 1px solid #f2f2f2; border-right: none; font-size:14px;}
 #nav ul li:hover ul li a:hover { background:#A40000; color:#ffffff;  font-size:14px;}
/**END**/