@charset "utf-8";
/* CSS Document */
/* 通用CSS */
/*强制隐藏X轴滚动条*/
html{overflow-x:hidden;}
body{margin:0;padding:0px; font-size:12px; font-family:"微软雅黑"; color:#6e6e6e;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0px;}
ul,li{list-style-type:none;}
a { color:#5b5b5b; text-decoration:none;}
a:hover {color: #333; text-decoration: none;}
/* 布局CSS */
#top{width:auto; height:123px; _overflow:hidden; margin:0px auto; background: url(../images/top-line.gif) no-repeat center 122px;}
#indexcontent{width:auto; height:auto; margin:0px auto; overflow:hidden;}
#content{width:auto; height:auto; margin:0px auto; overflow:hidden; background:#fff;}
#footer{width:auto; height:100px; display:block; overflow:hidden; background:url(../images/footer.jpg) repeat-x left bottom; font-family:"宋体";}
/* 头部CSS */
.header{position:relative; width:1020px; height:200px; margin:0px auto; z-index:10;}
.logo{width:442px; height:80px; float:left;  padding:26px 0px 17px 0px; overflow:hidden;}
/*menu*/
.headtop{height:37px;}
.h_top_log{ float:left;width:65px;}
.h_top_menu{ float:right;}
#menu{ float:right; padding-top:70px; width:500px;} 
#menu li{ float:left; list-style-type:none;  text-align:center; text-transform:uppercase;}
#menu li a{  font-size:13px;  display:block; text-align:center; color:#979595;}
#menu li a:hover{  font-size:13px;color:#006287; }
/* #menu li a.ahovertop{color:#006287;} */
/*#menu {display:block; width:auto; height:80px; font-size:14px; padding:43px 0px 0px; float:right;}
#nav {display:block; z-index:120;}
#nav .mainlevel {float:left; text-align:center; display:block;}
#nav .mainlevel a {color:#fff; text-decoration:none; line-height:80px; height:80px; text-align:center; display:block;}
#nav .mainlevel a#menu0{width:80px; height:0px; background:url(../images/home.gif) no-repeat center 35px; padding-top:80px; overflow:hidden;}
#nav .mainlevel a#menu0:hover {width:160px;background:url(../images/home-on.gif) no-repeat;}
#nav .mainlevel a#menu0.weizhi {width:160px;background:url(../images/home-on.gif) no-repeat;}
#nav .mainlevel a#menu1{width:154px; height:0px; background:url(../images/introduction.gif) no-repeat center 35px; padding-top:80px; overflow:hidden;}
#nav .mainlevel a#menu1:hover{width:160px; background:url(../images/introduction-on.gif) no-repeat;}
#nav .mainlevel a#menu1.weizhi{width:160px; background:url(../images/introduction-on.gif) no-repeat;}
#nav .mainlevel a#menu2{width:80px; height:0px; background:url(../images/news.gif) no-repeat center 35px; padding-top:80px; overflow:hidden;}
#nav .mainlevel a#menu2:hover {width:160px; background:url(../images/news-on.gif) no-repeat;}
#nav .mainlevel a#menu2.weizhi {width:160px; background:url(../images/news-on.gif) no-repeat;}
#nav .mainlevel a#menu3{width:104px; height:0px; background:url(../images/project.gif) no-repeat center 35px; padding-top:80px; overflow:hidden;}
#nav .mainlevel a#menu3:hover {width:160px; background:url(../images/project-on.gif) no-repeat;}
#nav .mainlevel a#menu3.weizhi {width:160px; background:url(../images/project-on.gif) no-repeat;}
#nav .mainlevel a#menu4{width:110px; height:0px; background:url(../images/contact.gif) no-repeat center 35px; padding-top:80px; overflow:hidden;}
#nav .mainlevel a#menu4:hover{width:160px; background:url(../images/contact-on.gif) no-repeat;}
#nav .mainlevel a#menu4.weizhi{width:160px; background:url(../images/contact-on.gif) no-repeat;}*/
/*#nav .mainlevel ul {position:absolute; display:none; z-index:120; *width:1000px;}
#nav .mainlevel ul.sub_nav_01{left:190px; _left:34px; position:absolute}
#nav .mainlevel ul.sub_nav_02{left:490px; _left:400px; position:absolute}
#nav .mainlevel ul.sub_nav_03{left:100px; _left:211px; position:absolute}
#nav .mainlevel ul.sub_nav_04{left:530px; _left:590px; position:absolutes}
#nav .mainlevel li { display:block; float:left; background: url(../images/libg.gif) repeat-x; _width:180px;}
#nav .mainlevel li a {padding:0 12px; line-height:30px; height:30px; display:block; _padding-bottom:6px;}
#nav .mainlevel li a:hover {color:#fe9542; text-decoration:none;}
#nav li a em{padding:0 3px;}*/
.Triangle_con {width:34px; height:30px; overflow:hidden; float:left; background:url(../images/li-left.png) no-repeat; display:block; }
.Triangle_conr {width:35px; height:30px; float:left; background:url(../images/li-right.png) no-repeat; display:block; overflow:hidden; }

#kinMaxShow{visibility:hidden; z-index:1; display:block;width:100%; height:530px; overflow:hidden; position:absolute;}
/* 项目动态CSS */
.con{width:926px; height:128px; margin:0px auto; overflow:hidden; padding:17px 10px 0px;}
.pj-news{width:430px; height:126px; float:left;}
.pj-newstop{width:430px; height:20px; overflow:hidden}
.pj-newstopleft{width:248px; height:20px; padding:0px 0px 0px 22px; background:url(../images/org.gif) no-repeat; float:left;}
.pj-newsmore{width:22px; height:20px; float:right;}
.pj-txt{width:430px; height:auto; overflow:hidden; padding:15px 0px 0px;}
.pj-txtpic{width:93px; height:93px; float:left; padding-left:2px;}
.pj-txttext{width:320px; height:88px; float:right; font-family:"宋体"; font-weight:normal; font-size:12px; line-height:22px; color:#2a2a2a; padding:5px 0px 0px;}
.pj-txttext a{color:#F30; font-family:"宋体";}
/* 公司动态CSS */
.cp-news{width:458px; height:126px; float:right;}
.cp-newstop{width:458px; height:20px; overflow:hidden}
.cp-newstopleft{width:248px; height:20px; padding:0px 0px 0px 22px; background:url(../images/org.gif) no-repeat; float:left;}
.cp-newsmore{width:22px; height:20px; float:right;}
.cp-txt{width:458px; height:auto; overflow:hidden; padding:15px 0px 0px;}
.cp-txttext{width:450px; height:58px; float:right; font-size:12px; line-height:22px; color:#2a2a2a; padding:5px 0px 0px 8px; font-family:"宋体"}
.cp-txttext a{color:#F30; font-family:"宋体";}
.cp-txtpic{width:458px; height:93px; float:left; padding-left:2px;}
.cp-txtpic ul{ padding-left:8px;}
.cp-txtpic li{width:27px; height:27px; float:left; padding:0px 7px 0px 0px;}

/* 底部CSS */
.ifootertop{width:248px; height:23px; margin:0px auto;overflow:hidden; padding:6px 0px 0px 752px;}
.copyright{width:980px; margin:0px auto;overflow:hidden; padding:10px 10px 0px; line-height:22px; text-align:center;}
.copyright span{display:block;}
.fl{width:600px; }
.copyright p{width:980px; float:left; height:200px}
/* 栏目页面CSS */
.nybanner{width:1000px; height:75px; margin:0px auto; padding:28px 0px 0px;}
.nycon{width:1000px; height:auto; margin:0px auto; padding:3px 0px 0px; background:#fff;}
.dh{width:1000px; height:41px; float:left; padding:28px 0px 0px; position:relative; z-index:9999999;}
.dhname{width:260px; height:32px; float:left; padding:2px 0px 0px 20px;}
.dhclass{width:720px; height:32px; float:right; padding:5px 0px 0px;}
.dhclass ul{width:auto; display:block; overflow:hidden; float:right; padding-right:20px;}
.dhclass li{width:89px; height:27px; text-align:center; font-size:14px; font-family:"宋体"; float:left;}
.dhclass li a{width:89px; height:27px; line-height:29px; display:block; background:#929292; color:#fff; overflow:hidden;}
.dhclass li a:hover{background:#fd9443; color:#fff;}
.dhclass li a.weizhi{background:#fd9443; color:#fff;}
.lmcon{width:1000px; height:auto; float:left;}
.title{width:1000px; height:48px; line-height:48px; font-size:18px; color:#626262; text-align:center; padding:10px 0px 0px; float:left;}
.source{width:1000px; height:26px; line-height:26px;  font-family:"宋体"; text-align:center; background:url(../images/line.gif) repeat-x left bottom; color:#666; float:left;}
.lmcontext{width:960px; padding:20px 20px 28px; float:left; line-height:30px;}
.nextfile{width:958px; height:30px; line-height:30px; text-align:center; border:1px solid #e5e5e5; margin:0px 20px 30px; float:left; display:block;ss}
.newslist{width:960px; padding:20px; float:left;}
.newslist li{width:960px; height:112px; background:url(../images/line.gif) left bottom repeat-x; float:left; padding:20px 0px 0px;}
.pic{width:114px; height:84px; padding:2px; float:left;}
.newstext{width:825px; float:right; height:100px;}
.newstext h1{font-size:14px; line-height:36px;}
.newstext h1 a:hover{color:#016386}
.newstext p{line-height:24px;}
.newstext p a:hover{color:#222}
.pagelist{width:960px; padding:10px 20px 30px; float:left;}
.pagelist li{width:22px; height:7px; display:block; margin-right:5px;float:left; }
.pagelist li a{width:22px; height:7px; display:block; overflow:hidden; background:#cccccc; float:left; }
.pagelist li a:visited{background:#999;}
.pagelist li a:hover{background:#fd9443;}
.pagelist li a.onpage{ background:#fd9443}

.projectlist{width:960px; padding:20px; float:left;}
#pro{width: 150px; height: 144px; margin:10px 5px; float:left;  background:#515151; overflow:hidden; overflow:hidden}
.pro_simg_list {width: 150px; height: 144px; float: left; position: relative;overflow:hidden; }
.upperImg { width: 136px; height: 130px; overflow: hidden; position: absolute; z-index:3; background:#ddd; padding:7px;}
.prolistBg {
	left: 0px; top: 0px; width:150px; height:144px; position: absolute;cursor: pointer; overflow:hidden
}
.prolistBg p {
	text-align:left; color:#fff; font-size: 14px; padding:20px 14px 20px 24px; display:block; line-height:22px;letter-spacing:1px; font-weight:bold;
}
.abouttext{width:960px; padding:20px; float:left; line-height:30px; font-size:14px; color:#878787;}

.teamclass{width:900px; height:26px; padding:20px 20px 0px 60px; float:left;}
.teamlist{width:960px; padding:5px 20px 20px; float:left; background:url(../images/line.gif) left bottom repeat-x;}
.teamlist li{width:400px; height:112px;  float:left; padding:20px 40px 0px;}
.teampic{width:114px; height:84px; padding:2px;  float:left;}
.teamtext{width:230px; float:left; height:100px; padding-left:10px; overflow:hidden}
.teamtext h1{font-size:14px; line-height:36px;}
.teamtext h1 a{color:#016386}
.teamtext h1 a:hover{color:#000}
.teamtext p{line-height:30px;font-family:"宋体"; font-size:12px}
.teamtext p a:hover{color:#222}

.clear{ clear:both;}
/*右侧浮动按钮*/
#tbox{float:right; position:fixed; right:50px; top:290px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:205px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#tbox a{ display:block; overflow:hidden;  margin-bottom:5px; text-align:center;}

/*项目内容页图*/
#picarea {
	MARGIN: 0px auto; WIDTH: 900px; BACKGROUND: #fff; HEIGHT: 620px}
#bigpicarea {
	POSITION: relative; MARGIN: 0px; WIDTH: 900px; _width:900px; HEIGHT: 417px; OVERFLOW: hidden
}
#bigpicarea .word {
	TEXT-ALIGN: center; HEIGHT: 50px; COLOR: #333
}
#bigpicarea .word H3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #333; FONT-SIZE: 14px
}
#bigpicarea .ui-els-hide {
	DISPLAY: none
}
#thumbsbgbg {position: absolute; margin-top:-72px;  width:900px; height:72px; overflow:hidden;  background:black; filter:alpha(opacity:50); opacity:0.3;}
#thumbs  {position: absolute; /*left:0;*/ margin-top:-65px;  width:898px; height:72px; overflow:hidden; padding-left:8px; }


* HTML #thumbs {
	HEIGHT: 100%
}
#thumbs LI {
	MARGIN: 0px 10px; _MARGIN: 0px 9px; WIDTH: 112px; DISPLAY: inline; FLOAT: left; HEIGHT: 72px
}
#thumbs UL {
	MARGIN-TOP: 3px
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first {
	MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI.last {
	MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI A {
	BORDER: #828282 1px solid; WIDTH: 112px; DISPLAY: block; FONT-SIZE: 0px; }
#thumbs LI A:hover {BORDER: #ececec 1px solid; }
#thumbs LI A.current {
	BORDER: #fd9443 2px solid; 
}
#thumbs LI.first IMG {
	
}
#thumbs LI.last IMG {
	
}
.bigbtnPrev {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 28px; HEIGHT: 54px; TOP: 165px; CURSOR: pointer; LEFT: 12px
}
.bigbtnNext {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 28px; HEIGHT: 54px; TOP: 165px; CURSOR: pointer; RIGHT: 12px
}
#big_play_prev {
	BACKGROUND-IMAGE: url(../images/left.gif); WIDTH: 28px; DISPLAY: block; HEIGHT: 54px;)
}
#big_play_next {
	BACKGROUND-IMAGE: url(../images/right.gif); WIDTH: 28px; DISPLAY: block; HEIGHT: 54px; )
}
#smallpicarea {
	MARGIN: 0px auto; WIDTH: 958px;}
.detail{position:absolute;background: url(../images/detail.gif) no-repeat;  top:0; right:0; width: 93px; height: 93px;}
.detailtext{width:146px; height:408px; position:absolute;  /*background:black; filter:alpha(opacity:50); opacity:0.3;  top:0; right:0;*/ overflow:hidden; z-index:10; text-align:left; color:#FFF;}
.detailtext-st{width:150px; height:380px;position:absolute;top:0; right:0; font-size:12px; font-family:"宋体"; padding:10px 35px 0px 0px; line-height:25px; color:#FFF; text-align:left; overflow:hidden; z-index:12;word-wrap: break-word; 　word-break: normal; }
.picshow { position:relative; /*MARGIN: 30px 40px 0px;*/ margin-top:30px; WIDTH: 1000px; HEIGHT: 510px; overflow:hidden; float:left;}
.bdshare-slide-button-box{z-index:999;}

body{filter:alpha(opacity=100); -moz-opacity:0; -khtml-opacity: 0;opacity: 0;}

/*留言板轮换图片样式*/
#lybbanner { margin: 10px 0px 0px 0px; float:left; padding: 0px; width: 582px; height: 406px; }
.slides { margin: 0px auto; width: 582px; height: 406px; overflow: hidden; position: relative; }
.slide-pic { margin: 0px; padding: 0px; width: 582px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 582px; height: 406px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block; }
.slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
    .slide-li li { margin: 0px; padding: 0px; width: 116px; height: 10px; float: left; overflow: hidden; list-style: none; }
    .slide-li a { width: 116px; height: 10px; color: #000; font-size: 12px; display: block; }
        .slide-li a:hover { color: #F00; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background: #666666; }
.slide-txt span { display: none; }


.banner_index{height:417px;position: relative;overflow:hidden;width:900px;margin:0 auto; overflow:hidden;}
.banner_index .btn,.banner_pro .bBtn{position: absolute;top:180px;width: 56px;height: 78px;display: block;z-index: 3;}
.banner_index .btnPre,.banner_pro .bPre{background: url(../images/bg_btnpre_index.png) no-repeat 0 0;left:20px;}
.banner_index .btnPre:hover,.banner_pro .bPre:hover{background: url(../images/bg_btnpre_index_hover.png) no-repeat 0 0;}
.banner_index .btnNext,.banner_pro .bNext{background: url(../images/bg_btnnext_index.png) no-repeat 0 0;right: 20px;}
.banner_index .btnNext:hover,.banner_pro .bNext:hover{background: url(../images/bg_btnnext_index_hover.png) no-repeat 0 0;}
.banner_index .banner_wrap{position: absolute;left:0px;top: 0px; z-index: 2;}
.banner_index .banner_wrap li{width:900px;float: left; text-align:center; overflow:hidden;}
.banner_index .banner_wrap li a img{max-height:420px;}
.indexBanner_num{width:900px;margin: 0 auto;padding:10px 0;text-align: center;} 
.indexBanner_num a{width: 8px;height: 8px;display: inline-block;_zoom:1;background: url(../images/bg_num.png) no-repeat 0 0;font-size: 0px;line-height: 0px;margin:0 5px;}
.indexBanner_num a.on,.indexBanner_num a:hover{background: url(../images/bg_num_on.png) no-repeat 0 0;}

.product_ct{ width:900px; margin:0 auto; padding:20px 0px; overflow:hidden;}
.product_ct p{ color:#7f7f7f; font-family:"微软雅黑"; font-size:14px; line-height:20px;}