*{padding:0;margin:0;}
	.section { text-align: center;line-height:98%;font-family:Arial,'Microsoft YaHei';}
	.section h1,.section h2,.section h3,.section h4,.section h5,.section h6{font-weight:normal;}
	.box1,.box2,.box3,.box4,.box5,.box6,.box7{width:100%;height:100%;}
	.box2{background:#ec4028;height:730px;}
	.box3{background:#fff;}
	.box4{background:#eee;}
	.box5{background:#fff;}
	.box6{background:#eee;}
	.box7{background:#fff;}
	.mainCon{width:1182px;height:100%;margin:0 auto;position:relative;}
	/*第一屏*/
	   .box1{width:100%;height:570px;background:url(../images/p1.jpg) no-repeat top center; background-size:cover;}
	  .bar{position:absolute;top:125px;left:0;height:60px;width:100%;z-index:50;background:#1B54A3;}
	 .bar .barMenu{width:1182px;margin:0 auto;}
	 .bar .barMenu li{float:left;width:25%;}
	  .bar .barMenu li a{display:inline-block;width:100%;height:60px;line-height:60px;font-size:20px;color:#fff;}
	 .bar .barMenu li a img{vertical-align:-5px;margin-right:8px;}
	 .bar .barMenu li a.on{background:#EC722F;}
     .bar .barMenu li a.a1:hover{background:#2EB080;}
	  .bar .barMenu li a.a2:hover{background:#EC722F;}
	  .bar .barMenu li a.a3:hover{background:#39A3F9;}
	  	 .bar .barMenu li a.a4:hover{background:#fc0;}

	 .box1 .b1{text-align:left;width:600px;padding-top:123px;}
	 .box1 .b1 h3{font-size:68px;line-height:52px;margin-bottom:30px;color:#fff;font-weight:bold}
	 .box1 .b1 h4{font-size:38px;line-height:52px;margin-bottom:20px;color:#fff;font-weight:bold}
	 .box1 .b1 a{display:inline-block;width:275px;height:62px;text-align:center;line-height:62px;color:#fff;font-size:28px;margin-top:60px;background:#ec4028;border-bottom:4px solid #b52516}
	  .box1 .b1 a:hover{background:#b52516}
	 .box1 .b2{width:440px;position:absolute;top:80px;right:30px;z-index:10;}
	 .box1 .b2 img,.box1 .b3 img{width:100%;}
	 .box1 .b3{width:640px;position:absolute;top:310px;right:-10px;z-index:11;}
	 
	 
	 /*第二屏*/
	 .box2{position:relative;}
	 .box2 .b1{padding-top:110px;}
	 .box2 .b1 h3{font-size:48px;line-height:52px;margin-bottom:25px;color:#fff;}
	 .box2 .b2{width:100%;height:130px;background:#f64931;position:absolute;bottom:0;left:0;z-index:10;}
	 .box2 .b2 .bg2{width:100%;height:100%;position:relative;}
	 .box2 .b2 .bg2 .img3{height:396px;width:100%;background:url(../images/img3.png) no-repeat top center;background-size:cover;position:absolute;top:-396px;left:0;z-index:9}
	 .box2 .b4{width:763px;height:330px;position:absolute;top:50%;left:50%;margin:-45px 0 0 -382px;z-index:15;}

	 
	 /*第三屏*/
	 .shareBox{clear:both;}
    .shareBox .mainCon{overflow:hidden;}
     .shareBox .b1{height:28%;}
     .shareBox .b1 h3{font-size:52px;color:#333;line-height:52px;padding:60px 0 30px 0}
     .shareBox .b1 p{font-size:16px;color:#333;}
     .shareBox .txt{float:left;width:370px;text-align:left;color:#666;}
     .shareBox .txt h3{font-size:40px;line-height:36px;margin-bottom:55px;margin-top:90px;color:#333;}
     .shareBox .txt .t{margin-bottom:55px;}
     .shareBox .txt .t p{height:40px;line-height:40px;font-size:16px;}
     .shareBox .txt a{display:inline-block;height:55px;width:210px;background:#EC4028;color:#fff;font-size:26px;text-align:center;line-height:55px;}
	    .shareBox .txt a:hover{background:#b52516}
     .shareBox .img{width:520px;float:left;margin-top:60px;}
     .shareBox .marginRight{margin-right:250px;}