@charset "utf-8";
	.mb10 {
	margin-bottom:10px;
}
.ml10 {
	margin-left:10px;
}
.bg {
	background:#FFF;
}
#flashs {
	position:relative;
	height:358px;
	overflow:hidden;
}
#flashs .bgitem {
	z-index:1;
	position:absolute;
	top:0;
}
#flashs .btn {
	position:absolute;
	z-index:7;
	bottom:5px;
	left:45.2%;
	padding:5px 6px;
}
#flashs .btn span {
	background:#946C52;
	color:white;
	font-weight:600;
	line-height:20px;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	margin-left:8px;
	width:30px;
	height:20px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	overflow:hidden;
}
#flashs .btn span.cur {
	background:#58391D;
}
.bdshare-slide-button-box {
	z-index:4;
}
.spa {
	height:450px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
}
.pb_h {
	text-align:center;
	height:109px;
	overflow:hidden;
	text-align:center;
	font-weight:100;
	background:url(../images/spa_l3.gif) left 42px repeat-x;
}
.pb_h b {
	font-weight:100;
	display:block;
	line-height:31px;
	font-size:24px;
	color:#362c24;
}
.pb_h span {
	display:block;
	line-height:22px;
	height:26px;
	font-size:20px;
	text-transform:uppercase;
	color:#9b8574;
}
.pb_h a {
	display:inline-block;
	width:558px;
	margin:0 auto;
	background:#fff;
}
.pb_h i a {
	display:block;
	margin:0 auto;
	width:63px;
	line-height:22px;
	border:1px #362c24 solid;
	text-align:center;
	font-size:14px;
	font-family:Arial;
	color:#362c24;
	font-style:normal;
}
.spa dl {
	float:left;
	display:inline;
	width:235px;
	background:url(../images/spa_l.gif) right top no-repeat;
	overflow:hidden;
}
.spa .lst {
	background:none;
}
.spa dt {
	text-align:center;
}
.spa dt img {
	vertical-align:top;
	display:block;
	width:91px;
	vertical-align:top;
	height:91px;
	overflow:hidden;
	margin:0 auto;
}
.spa dt {
	height:115px;
	overflow:hidden;
	vertical-align:top;
}
.spa dd h4 {
	background:url(../images/spa_l2.gif) center 55px no-repeat;
	text-align:center;
	line-height:27px;
	height:89px;
	overflow:hidden;
	font-size:16px;
}
.spa dd h4 a {
	color:#362c24;
}
.spa dd p {
	line-height:22px;
	color:#362c24;
	padding:0 53px;
	line-height:22px;
	text-align:justify;
	height:90px;
	overflow:hidden;
}
.box {
	font-family:"Microsoft YaHei";
	height:995px;
	overflow:hidden;
	clear:both;
}
.lf_n {
	width:248px;
	overflow:hidden;
}
.lf_n h2 {
	padding:58px 0 0;
	height:89px;
	text-align:center;
	overflow:hidden;
	background:url(../images/lf_nt.gif) center top no-repeat;
}
.lf_n h2 b {
	color:#fff;
	display:block;
	line-height:26px;
	height:26px;
	overflow:hidden;
	font-size:24px;
	font-weight:100;
}
.lf_n h2 span {
	display:block;
	font-size:18px;
	font-family:Arial;
	line-height:24px;
	font-weight:100;
}
.lf_n h2 a {
	color:#fff;
}
.lf_n_c {
	padding:15px 0 0;
	height:777px;
	overflow:hidden;
	background:#efe6df;
}
.lf_n_c h3 {
	padding:0 0 0 45px;
	height:44px;
	line-height:44px;
	font-size:16px;
	overflow:hidden;
	background:url(../images/lf_nic.gif) left 15px no-repeat;
}
.lf_n_c h3 a {
	color:#362c24;
	font-weight:100;
}
.lf_n_c ul {
	clear:both;
	padding:0 0 0 34px;
}
.lf_n_c ul li {
	line-height:25px;
	height:28px;
	vertical-align:top;
	overflow:hidden;
}
.lf_n_c ul li a {
	color:#9b8574;
	padding:0 0 0 26px;
	display:block;
	background:url(../images/lf_nic2.gif) 16px 8px no-repeat;
}
.lf_n_c ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#9b8574 url(../images/lf_nic3.gif) 16px 270px no-repeat;
}
.pro_t {
	color:#fff;
	padding:0 16px 0 0;
	line-height:40px;
	height:40px;
	overflow:hidden;
	background:#362c24;
	margin:0 0 0 27px;
}
.pro_t li {
	font-family:"Microsoft YaHei";
	float:left;
}
.pro_t li a {
	display:inline-block;
	padding:0 30px;
	font-size:20px;
	color:#fff;
}
.pro_t li a:hover,.pro_t .cur a {
	color:#fff;
	background:#9b8574;
	text-decoration:none;
}
.pro_t .fr {
	font-family:Arial;
	font-size:14px;
	color:#fff;
}
.pro {
	width:707px;
	overflow:hidden;
}
.pro_c {
	padding:28px 0 0;
	clear:both;
	width:100%;
}
.pro_c li {
	text-transform:uppercase;
	margin:0 0 0 27px;
	display:inline;
	float:left;
	width:208px;
	height:262px;
	overflow:hidden;
	text-align:center;
}
.pro_c li img {
	display:block;
	width:206px;
	height:205px;
	overflow:hidden;
	border:1px #dcdcdc solid;
}
.pro_c li span {
	display:block;
	line-height:40px;
	text-align:center;
}
.pro_c li span a {
	font-size:14px;
	color:#362C24;
}
.pro_c ul {
	height:779px;
	overflow:hidden;
}
.pro_ban {
	clear:both;
	margin:0 0 0 27px;
	position:relative;
}
.pro_ban img {
	display:block;
	height:91px;
	overflow:hidden;
	vertical-align:top;
}
.pro_ban p {
	width:545px;
	right:0;
	top:30px;
	z-index:6;
	background:url(../images/pro_tel.gif) left top no-repeat;
	font-weight:bold;
	font-size:18px;
	color:#24211b;
	padding:0 0 0 46px;
	line-height:36px;
	position:absolute;
}
.pro_ban p b {
	font-size:22px;
	color:#ba1414;
	font-family:Arial;
	margin:0 0 0 2px;
}
.pro_ban p a {
	display:inline-block;
	float:right;
	text-align:center;
	line-height:32px;
	height:32px;
	width:120px;
	border:2px #000 solid;
	margin:0 73px 0 0;
	font-size:16px;
	font-weight:bold;
	color:#362c24;
}
.sol {
	font-family:"Microsoft YaHei";
	height:520px;
	overflow:hidden;
	background:url(../images/sol_bg.jpg) center 107px no-repeat;
}
.sol .pb_h {
	height:102px;
	overflow:hidden;
}
.sol .pb_h a {
	width:390px;
}
.sol .pb_h i a {
	display:inline-block;
	margin:0;
	width:63px;
	float:left;
}
.sol .pb_h p {
	padding:3px 0 0;
	width:65px;
	margin:0 auto;
}
.sol .pb_h i {
	float:left;
}
.sol .pb_h em a {
	width:16px;
	padding:0;
	margin:0 0 0 2px;
}
.sol_l {
	width:211px;
	overflow:hidden;
	padding:0 0 0 10px;
}
.sol_l h4 {
	margin-top:-4px;
	font-weight:100;
	line-height:18px;
	height:18px;
	overflow:hidden;
	border-bottom:1px #362c24 solid;
	width:145px;
	position:relative;
}
.sol_l h4 a {
	color:#362c24;
}
.sol_l ul {
	position:relative;
}
.sol_l ul li {
	line-height:37px;
	height:37px;
	vertical-align:top;
	overflow:hidden;
}
.sol_l ul li a {
	padding:0 0 0 27px;
	display:block;
	color:#9b8b7e;
}
.sol_l ul li a:hover {
	font-size:14px;
	color:#362c24;
	background:url(../images/sol_bg_ic.gif) left 5px no-repeat;
}
.sol_l ul .cur a {
	font-size:14px;
	color:#362c24;
	background:url(../images/sol_bg_ic.gif) left 5px no-repeat;
	text-decoration:underline;
}
.sol dl {
	padding:10px 0 0;
	float:right;
	width:954px;
	overflow:hidden;
}
.sol dt img {
	display:block;
	width:550px;
	height:370px
}
.sol dd {
	width:318px;
	padding:26px 10px 0 0;
}
.sol dd h4 {
	line-height:24px;
	height:44px;
	overflow:hidden;
	font-size:14px;
	color:#4e3e2c;
}
.sol dd h4 a {
	color:#4e3e2c;
}
.sol dd p {
	height:250px;
	overflow:hidden;
	line-height:24px;
	color:#4e3e2c;
	font-size:14px;
}
.sol dd span {
	display:block;
	width:310px;
}
.sol dd span a {
	display:inline-block;
	text-align:center;
	width:124px;
	line-height:36px;
	height:36px;
	overflow:hidden;
	color:#fff;
	font-size:14px;
	background:#9b8574;
}
.sol dd span .ic2 {
	float:right;
	background:#362c24;
}
.chanpin_zs {
	width:1200px;
	height:auto;
	clear:both;
	margin:0 auto;
}
.chanpin_zs .zs_title {
	width:1200px;
	background:url(../images/zhanshititle.jpg) no-repeat;
	height:46px;
	text-align:center;
}
.chanpin_zs .zs_title a {
	font-size:20px;
	color:#921028;
	font-family:microsoft yahei;
}
.chanpin_zs .container {
	margin-top:27px;
}
.ttt {
	width:910px;
	height:50px;
	padding-left:290px;
}
.ttt li {
	float:left;
	width:110px;
	height:30px;
	border:1px solid #999;
	background:#ececec;
	margin-right:17px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.ttt li.hover {
	background:rgb(87,57,31);
	font-weight:bold;
	color:#fff;
}
.ttt li.hover a {
	background:rgb(87,57,31);
	font-weight:bold;
	color:#fff;
}
.tabcont {
	width:1200px;
	float:left;
	height:auto;
	clear:both;
}
.tabcont .tabc {
	width:1200px;
	float:left;
	height:auto;
	clear:both;
}
.tabcont .tabc ul {
	width:254px;
	height:auto;
	float:left;
	overflow:hidden;
	padding:0px;
	margin:0px;
	padding-left:38px;
	margin-bottom:10px;
}
.tabcont .tabc ul li {
	width:254px;
	height:auto;
	float:left;
	overflow:hidden;
}
.tabcont .tabc ul li.tu1 {
	width:245px;
	border:1px solid #900;
	padding:3px;
	float:left;
}
.tabcont .tabc ul li.tu1 img {
	width:245px;
	height:169px;
}
.tabcont .tabc ul li.tu2 {
	width:254px;
	padding:0px;
	margin:0px;
	float:left;
}
.tabcont .tabc ul li.wz {
	text-align:center;
	height:25px;
	line-height:25px;
}
.tabcont .tabc ul li.wz a {
	color:#af013f;
	font-size:12px;
	font-family:microsoft yahei;
	font-weight:bold;
}
.ban2 {
	clear:both;
}
.ban2 a {
	display:block;
	height:305px;
	overflow:hidden;
	background:url(../images/ban2.jpg) center top no-repeat;
}
.ban2 .content {
	position:relative;
	overflow:visible;
}
.ban2 .content span {
	display:block;
	line-height:34px;
	height:34px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	position:absolute;
	left:306px;
	top:-115px;
	z-index:3;
	font-size:20px;
	color:#362c24;
}
.ban2 .content b {
	color:#ba1414;
	font-size:20px;
	font-family:Arial;
	margin:0 30px 0 0;
}
.ban2 .content span a {
	display:inline-block;
	text-align:center;
	width:125px;
	line-height:31px;
	height:34px;
	overflow:hidden;
	color:#fff;
	font-size:16px;
	background:#362c24;
	vertical-align:middle;
}
.ys1 {
	height:781px;
	overflow:hidden;
	background:url(../images/ys1.jpg) center top no-repeat;
}
.ys1 h3 {
	padding:133px 0 0 90px;
	height:313px;
	overflow:hidden;
}
.ys1 h3 p {
	line-height:73px;
	height:73px;
	padding:0 0 0 23px;
	overflow:hidden;
}
.ys1 h3 p b {
	float:left;
	font-weight:100;
	font-size:58px;
	color:#362c24;
	margin:0 70px 0 0;
}
.ys1 h3 p i {
	margin:9px 0 0;
	font-weight:100;
	float:left;
	font-style:normal;
	font-size:30px;
	color:#fff;
	letter-spacing:3px;
}
.ys1 h3 span {
	font-weight:100;
	clear:both;
	display:block;
	line-height:38px;
	font-size:22px;
	color:#9b8574;
}
.ys1 h3 span em {
	margin:0 0 0 5px;
	font-style:normal;
	font-weight:100;
	font-size:22px;
	color:#9b8574;
	font-family:Arial;
}
.ys {
	font-family:"Microsoft YaHei";
}
.ys dl dt {
	height:82px;
	overflow:hidden;
	line-height:41px;
	font-size:20px;
	font-weight:bold;
	color:#362c24;
}
.ys dl dt b {
	font-size:36px;
}
.ys dl dt span {
	display:block;
	font-weight:100;
	line-height:16px;
	font-size:12px;
	color:#362c24;
	font-family:Arial;
}
.ys dl dd {
	clear:both;
}
.ys dl dd span {
	display:block;
	line-height:20px;
	color:#9b8574;
	font-size:14px;
	padding:0 0 15px 18px;
	background:url(../images/ys_ic.gif) left 6px no-repeat;
}
.ys1 dl {
	padding:0 0 0 480px;
}
.ys2 {
	height:510px;
	overflow:hidden;
	background:url(../images/ys2.jpg) center top no-repeat;
}
.ys2 dl {
	padding:195px 0 0;
}
.ys2 dl dd {
	width:480px;
}
.ys3 {
	height:369px;
	overflow:hidden;
	background:url(../images/ys3.jpg) center top no-repeat;
}
.ys3 dl {
	padding:106px 0 0 475px;
}
.ban3 {
	clear:both;
}
.ban3 a {
	display:block;
	height:389px;
	overflow:hidden;
	background:url(../images/ban3.jpg) center top no-repeat;
}
.ban3 .content {
	position:relative;
	overflow:visible;
}
.ban3 .content span {
	display:block;
	line-height:34px;
	height:34px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	position:absolute;
	left:125px;
	top:-143px;
	z-index:3;
	font-size:20px;
	color:#362c24;
}
.ban3 .content b {
	color:#ba1414;
	font-size:20px;
	font-family:Arial;
	margin:0 30px 0 0;
}
.ban3 .content span a {
	display:inline-block;
	text-align:center;
	width:125px;
	line-height:31px;
	height:34px;
	overflow:hidden;
	color:#fff;
	font-size:16px;
	background:#362c24;
	vertical-align:middle;
}
.tm {
	height:524px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
}
.tm .pb_h {
	padding:56px 0 0;
	background:url(../images/tm_sd.gif) center 44px no-repeat;
	height:144px;
}
.tm .pb_h a {
	background:none;
}
.tm .pb_h b {
	margin:0 0 3px;
}
.tm .pb_h span {
	color:#362c24;
	margin:0 0 7px;
}
.tm dl {
	float:left;
	margin:0 29px 0 0;
	display:inline;
	padding:17px 12px 0;
	height:237px;
	width:184px;
	background:#efe6df;
	border:5px #efe6df solid;
	overflow:hidden;
}
.tm .lst {
	margin:0;
}
.tm dt {
	vertical-align:top;
	text-align:center;
	height:152px;
	overflow:hidden;
}
.tm dt img {
	vertical-align:top;
	display:block;
	width:182px;
	vertical-align:top;
	height:140px;
	border:1px #fff solid;
	overflow:hidden;
	margin:0 auto;
}
.tm dd h4 {
	text-align:center;
	line-height:22px;
	height:32px;
	overflow:hidden;
	font-size:14px;
}
.tm dd h4 a {
	color:#362c24;
}
.tm dd p {
	color:#362c24;
	line-height:22px;
	text-align:justify;
	height:45px;
	overflow:hidden;
}
.tm dl:hover {
	border:5px #362c24 solid;
}
.hon {
	font-family:"Microsoft YaHei";
	height:276px;
	overflow:hidden;
	margin:0 auto;
	background:#efe6df;
	margin-bottom:40px
}
.hon .content {
	overflow:visible;
	position:relative;
}
.hon h3 {
	height:105px;
	line-height:94px;
	text-align:center;
	background:url(../images/hon_t.gif) center 20px no-repeat;
}
.hon h3 a {
	font-size:24px;
	color:#362c24;
	font-weight:100;
}
.hon_c {
	clear:both;
}
.hon_c li {
	text-align:center;
	float:left;
	width:220px;
	margin:0 26px 0 0;
	display:inline;
}
.hon_c li img {
	width:220px;
	height:123px;
	overflow:hidden;
	display:block;
}
.hon_c li span {
	font-size:12px;
	display:block;
	line-height:38px;
	overflow:hidden;
}
.hon_c li span a,.hon_c li span a:hover {
	color:#a89485;
}
.hon_c .to_l,.hon_c .to_r {
	top:125px;
	z-index:9;
	position:absolute;
}
.hon_c .to_l {
	left:-66px;
}
.hon_c .to_r {
	right:-66px;
}
.hon_c .lst {
	margin:0;
}
.til01 {
	height:36px;
	line-height:36px;
	font-weight:normal;
	border-bottom:solid 1px #eaebeb;
	padding-left:43px;
}
.til01 img {
	float:left
}
.til01 a {
	font-size:12px;
	color:#999;
	padding-left:3px;
}
.gy {
	height:495px;
	overflow:hidden;
}
.ry {
	width:252px;
	padding:53px 38px 0 0;
	background:url(../images/rybg.jpg) no-repeat 33px 21px;
}
.ry a {
	color:#999;
}
.ry_c {
	background:url(../images/rybg1.jpg) no-repeat 33px bottom;
	height:326px;
}
.ry h3 {
	height:52px;
	line-height:52px;
	text-align:center;
	font-size:12px;
}
.ry01,.ry03 {
	padding:103px 0 103px 5px;
}
.ry02 {
	width:168px;
	padding:0 7px;
	text-align:center;
}
.ry02 img {
	width:168px;
	height:241px;
	display:block
}
.ry02 span {
	height:34px;
	line-height:34px;
	display:block
}
.gy_c {
	margin:38px 0 0;
	padding:0 0 0 52px;
	width:858px;
	background:url(../images/ge01.jpg) repeat-y 0 0;
}
.gy_c a {
	color:#999;
}
.gy_c dl {
	height:214px;
	overflow:hidden
}
.gy_c dt {
	width:360px;
	float:right;
	padding-left:20px;
}
.gy_c dd {
	width:433px;
	float:right;
	line-height:26px;
	color:#979799
}
.gy_c dd p {
	height:110px;
}
.gy_c dd h3 {
	font-size:12px;
}
.gy01,.gy03 {
	padding:74px 0;
}
.gy02 {
	width:787px;
	overflow:hidden;
	position:relative;
}
.gy02 li {
	width:250px;
	height:175px;
	padding:0 6px;
	float:left
}
.gy02 li img {
	width:250px;
	height:175px;
}
.gy02 li span {
	width:250px;
	height:27px;
	line-height:27px;
	text-align:center;
	background-color:#000;
	left:6px;
	bottom:0;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}
.gy02 li span a {
	color:#FFF;
}
.wt {
	padding:52px 0 0;
	height:588px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
}
.wt .pb_h {
	height:127px;
}
.wt .pb_h a {
	width:375px;
}
.wt .pb_h i a {
	width:63px;
}
.wt dl {
	text-align:center;
	height:400px;
	background:#efe6df;
	float:left;
	margin:0 25px 0 0;
	display:inline;
	width:220px;
	overflow:hidden;
}
.wt .lst {
	margin:0;
}
.wt dt {
	vertical-align:top;
	text-align:center;
	height:222px;
	overflow:hidden;
}
.wt dt img {
	vertical-align:top;
	display:block;
	width:220px;
	vertical-align:top;
	height:220px;
	overflow:hidden;
}
.wt dd h4 {
	text-align:center;
	line-height:38px;
	height:38px;
	overflow:hidden;
	font-size:14px;
}
.wt dd h4 a {
	color:#362c24;
}
.wt dd p {
	text-align:left;
	color:#362c24;
	line-height:22px;
	padding:0 14px;
	text-align:justify;
	height:85px;
	overflow:hidden;
}
.wt dd span a {
	display:inline-block;
	text-align:center;
	width:124px;
	line-height:36px;
	height:36px;
	overflow:hidden;
	color:#fff;
	font-size:14px;
	background:#9b8574;
	margin:0 auto;
}
.od {
	font-family:"Microsoft YaHei";
	clear:both;
	height:282px;
	overflow:hidden;
	background:url(../images/od_bg.jpg) center top no-repeat;
	padding-bottom:40px
}
.od_l {
	padding:28px 0 0;
	width:220px;
	overflow:hidden;
	text-align:center;
}
.od_l h3 {
	text-align:center;
	width:115px;
	padding:28px 0 0;
	line-height:30px;
	font-weight:100;
	height:88px;
	overflow:hidden;
	font-size:30px;
	color:#362c24;
	margin:0 auto;
}
.od_l p {
	line-height:30px;
	padding:17px 0 0;
	height:70px;
	font-weight:100;
	font-size:20px;
	color:#24211b;
}
.od_l p b {
	display:block;
	font-size:20px;
	color:#ff0000;
	font-family:Arial;
}
.od_l a {
	display:inline-block;
	text-align:center;
	width:124px;
	line-height:36px;
	height:36px;
	overflow:hidden;
	color:#fff;
	font-size:14px;
	background:#362c24;
	margin:0 auto;
}
.od_r {
	width:711px;
	overflow:hidden;
	padding:65px 0 0;
}
.od_r li {
	text-align:center;
	width:142px;
	float:left;
	margin:0 47px 0 0;
}
.od_r .lst {
	margin:0;
}
.od_r li img {
	margin:0 auto;
	display:block;
	vertical-align:top;
}
.od_r li h4 {
	padding:6px 0 0;
	line-height:32px;
	height:32px;
	overflow:hidden;
	font-size:20px;
}
.od_r li h4 a {
	color:#fff;
}
.od_r li p {
	font-size:14px;
	line-height:25px;
	font-size:16px;
	color:#9b8574;
}
.od_r .lst {
	margin:0;
}
.abtw {
	font-family:"Microsoft YaHei";
	background:url(../images/abt_bg.gif);
	padding-bottom:40px
}
.abt {
	padding:60px 0 0;
	clear:both;
	height:308px;
	overflow:hidden;
}
.abt .pb_t h3 {
	padding-left:10px;
	background:none;
	border-bottom:2px #0aa637 solid;
}
.abt .pb_t h3 a,.abt .pb_t h3 a:hover {
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#0aa637;
}
.abt .pb_t .fr,.abt .pb_t .fr:hover {
	color:#d1d1d1;
}
.abt .pb_t {
	}.abt dl {
	height:287px;
	overflow:hidden;
	background:#ece6e2;
	width:100%;
}
.abt dt img {
	display:block;
	width:480px;
	height:287px;
	overflow:hidden;
}
.abt dt {
	float:left;
}
.abt dl dd {
	padding:19px 10px 0 0;
	height:268px;
	width:455px;
	overflow:hidden;
	float:right;
}
.abt dl dd h4 {
	text-align:center;
	font-weight:100;
	line-height:32px;
	height:75px;
	font-size:24px;
	background:url(../images/spa_l3.gif) left 46px repeat-x;
}
.abt dl dd h4 a {
	color:#362c24;
	display:inline-block;
	margin:0 auto;
	padding:0 20px;
	background:#ece6e2;
}
.abt dl dd h4 span {
	display:block;
	line-height:30px;
	font-family:Arial;
	font-size:20px;
	color:#362c24;
}
.abt dl p {
	font-size:14px;
	line-height:23px;
	color:#362c24;
	height:180px;
	overflow:hidden;
}
.abt dl p a {
	color:#362c24;
}
.abtb {
	height:175px;
	overflow:hidden;
	clear:both;
}
.abtb li {
	text-align:center;
	width:175px;
	float:left;
	margin:0 21px 0 0;
}
.abtb li a {
	padding:20px 0 0;
	height:95px;
	overflow:hidden;
	text-align:center;
	display:block;
	width:100%;
	background:url(../images/abt_bg1.gif) left top no-repeat;
}
.abtb .lst {
	margin:0;
}
.abtb li img {
	margin:0 auto;
	display:block;
	vertical-align:top;
}
.abtb li span {
	line-height:45px;
	color:#fff;
	overflow:hidden;
	font-size:16px;
}
.abtb li a:hover {
	text-decoration:none;
	background:url(../images/abt_bg2.gif) left top no-repeat;
}
.inf {
	clear:both;
	height:620px;
	overflow:hidden;
}
.inf h3 {
	padding:17px 0 0;
	height:73px;
	overflow:hidden;
	text-align:center;
	line-height:31px;
	font-weight:100;
	font-size:24px;
	background:url(../images/inf_l.gif) left 51px repeat-x;
}
.inf h3 a {
	color:#362c24;
	display:inline-block;
	margin:0 auto;
	padding:0 20px;
	background:#efe6df;
}
.inf h3 span {
	vertical-align:top;
	display:block;
	font-family:Arial;
	font-size:20px;
	color:#9b8574;
	line-height:25px;
}
.inf p {
	text-align:center;
	position:relative;
	width:336px;
	height:175px;
	position:relative;
}
.inf p img {
	display:block;
	width:336px;
	height:175px;
}
.inf p b {
	font-weight:100;
	z-index:-1;
	display:block;
	width:336px;
	position:absolute;
	left:0;
	top:141px;
	line-height:34px;
	height:34px;
	font-size:12px;
	background:#362c24;
	color:#fff;
}
.inf p a:hover b {
	z-index:1;
}
.inf p a {
	display:block;
}
.inf ul {
	height:226px;
	overflow:hidden;
	padding:9px 0 0;
}
.inf ul li {
	line-height:36px;
	height:36px;
	padding:0 0 0 25px;
	vertical-align:top;
	background:url(../images/inf_ic.gif) 6px 15px no-repeat;
	overflow:hidden;
}
.inf ul li a {
	color:#362c24;
}
.inf1 {
	width:336px;
	padding:0 22px;
	height:560px;
	overflow:hidden;
	background:#efe6df;
	display:inline;
	margin:0 30px 0 0;
}
.inf3 {
	width:336px;
	padding:0 22px;
	height:560px;
	overflow:hidden;
	background:#efe6df;
}
.inf3_c {
	height:220px;
	overflow:hidden;
	line-height:23px;
	padding:16px 0 0;
	color:#362c24;
}
.inf3_c a {
	font-size:14px;
	color:#362c24;
}
.inf3_c dl {
	padding:0 0 20px 20px;
	margin:0 0 12px;
	border-bottom:1px #362c24 dashed;
}
.inf3_c .lst {
	border:none;
}
.inf3_c dl dt,.inf3_c dl dd {
	padding:0 0 0 22px;
}
.inf3_c dl dt {
	background:url(../images/que.jpg) left 5px no-repeat;
	margin:0 0 10px;
}
.inf3_c dl dd {
	background:url(../images/ans.gif) left 4px no-repeat;
}
.inf em {
	font-style:normal;
	font-weight:100;
	display:block;
	line-height:36px;
	height:36px;
	background:url(../images/inf_m.gif) center top no-repeat;
	text-align:center;
}
.inf em a {
	display:inline-block;
	text-align:center;
	width:124px;
	line-height:36px;
	height:36px;
	overflow:hidden;
	color:#fff;
	font-size:14px;
	margin:0 auto;
}
.add {
	clear:both;
	height:483px;
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.add i img {
	display:block;
	float:left;
}
.add_r {
	padding:20px 0 0;
	width:480px;
	overflow:hidden;
}
.add_r h3 {
	padding:35px 0 0;
	height:94px;
	border-top:1px #362c24 solid;
	border-bottom:1px #362c24 solid;
	overflow:hidden;
	text-align:center;
	line-height:31px;
	font-weight:100;
	font-size:24px;
}
.add_r h3 a {
	color:#362c24;
}
.add_r h3 span {
	display:block;
	font-family:Arial;
	font-size:20px;
	color:#9b8574;
	line-height:25px;
}
.add_r ul {
	padding:14px 0 0 15px;
}
.add_r ul li span {
	display:inline-block;
	float:left;
	width:80px;
	font-size:14px;
	color:#362c24;
}
.add_r ul li {
	clear:both;
	height:36px;
	overflow:hidden;
	line-height:24px;
}
.add_r ul li input {
	padding:0 0 0 5px;
	line-height:22px;
	height:22px;
	width:350px;
	border:none;
	background:none;
	font-family:"Microsoft YaHei";
	color:#362c24;
	border:1px #362c24 solid;
}
.add_r ul li em {
	margin:0 0 0 10px;
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#362c24;
	font-style:normal;
	font-weight:100;
}
.add_r textarea {
	width:197px;
	padding-left:5px;
	line-height:22px;
	width:245px;
	height:63px;
	border:solid 1px #362c24;
	font-family:"Microsoft YaHei";
	color:#362c24;
	line-height:22px;
	resize:none;
	background:none;
	width:350px;
}
.add_r .tex {
	height:77px;
}
.add_r ul .cer input {
	width:130px;
	margin:0 2px 0 0;
}
.add_r ul .cer b {
	display:inline-block;
	text-align:center;
	line-height:24px;
	height:24px;
	margin:0 10px 0 0;
	font-size:14px;
	font-weight:100;
	text-transform:uppercase;
	vertical-align:middle;
}
.add_r ul .cer a {
	color:#362c24;
}
.add_r p {
	width:305px;
	padding:0 0 0 15px;
}
.add_r p input {
	color:#fff;
	border:none;
	text-align:center;
	width:124px;
	height:36px;
	line-height:36px;
	font-family:"Microsoft YaHei";
	background:#9b8574;
}
.add_r p .ip2 {
	background:#362c24;
}
.trk {
	margin:60px 0 0;
	clear:both;
	font-family:"Microsoft YaHei";
	width:960px;
	height:320px;
}
.trk h3 {
	text-align:center;
	padding:122px 0 0;
	height:198px;
	width:308px;
	overflow:hidden;
	background:url(../images/st_bg1.gif) center top no-repeat;
}
.trk h3 span {
	display:block;
	font-family:Arial;
	font-size:52px;
	color:#9b8574;
	font-weight:100;
	line-height:50px;
}
.trk h3 a {
	color:#362c24;
	display:block;
	font-size:24px;
	color:#efe6df;
	font-weight:100;
	line-height:36px;
}
.trk ul {
	padding:0 0 0 13px;
	width:639px;
	overflow:hidden;
	height:320px;
	background:#efe6df url(../images/trk_m.gif) right top no-repeat;
}
.trk ul li {
	vertical-align:top;
	width:604px;
	clear:both;
	padding:14px 0 0 15px;
	_padding:10px 0 0 15px;
	height:92px;
	_height:96px;
	overflow:hidden;
	border-bottom:1px #d5d5d5 solid;
}
.trk ul li h4 {
	padding:22px 0 0;
	float:left;
	width:185px;
	overflow:hidden;
}
.trk ul li h4 a {
	display:block;
	font-size:18px;
	color:#303030;
	font-weight:100;
	line-height:22px;
}
.trk ul li h4 span {
	text-align:left;
	display:block;
	vertical-align:top;
	font-family:Arial;
	font-size:10px;
	color:#362c24;
	font-weight:100;
	line-height:19px;
}
.trk ul li h4 span {
	-webkit-transform:scale(0.9);
	-o-transform:scale(1);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.trk ul li h4 span {
	margin-left:-11px;
}
}.trk ul li p {
	width:416px;
	overflow:hidden;
}
.trk ul li p span {
	height:77px;
	background:url(../images/st_l.gif) right top repeat-y;
	display:inline-block;
	float:left;
	padding:0 0 0 25px;
	width:113px;
	overflow:hidden;
}
.trk ul li p span a {
	vertical-align:top;
	display:block;
	line-height:28px;
	color:#362c24;
}
.trk ul .lst {
	border:none;
}
.trk ul li p .lst {
	background:none;
}
.trk_lk {
	position:absolute;
	width:20px;
	height:320px;
	right:0;
	top:0;
	z-index:3;
	overflow:hidden;
}
.trk_lk a {
	display:block;
	height:107px;
	width:20px;
	vertical-align:top;
}
.lnk {
	clear:both;
	height:143px;
	padding:58px 0 0;
	overflow:hidden;
	font-family:"Microsoft YaHei";
}
.lnk_t {
	line-height:28px;
	height:28px;
	overflow:hidden;
	background:url(../images/lik.gif) left 6px repeat-x;
}
.lnk_t h3 {
	padding:0 8px 0 0;
	background:#fff;
	color:#362c24;
	font-family:Didot;
	text-transform:uppercase;
	float:left;
	font-size:24px;
}
.lnk_t h3 a {
	font-family:"Microsoft YaHei";
	font-weight:100;
	font-size:14px;
	margin:0 0 0 8px;
	color:#362c24;
}
.lnk_t .fr {
	font-family:"Microsoft YaHei";
	color:#9b8574;
	display:inline-block;
	padding:0 0 0 10px;
	background:#fff;
}
.lnk p {
	line-height:34px;
}
.lnk p a {
	display:inline-block;
	padding:0 19px;
	color:#454545;
}
@charset "utf-8";
	body {
	color:#666;
	font-size:12px;
	font-family:"����";
}
a {
	color:#666;
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover {
	text-decoration:underline;
}
.vam {
	vertical-align:middle;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}
p {
	word-spacing:-1.5px;
}
.tr {
	text-align:right;
}
.tl {
	text-align:left;
}
.center {
	text-align:center;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.pa {
	position:absolute;
}
.pr {
	position:relative
}
.cart_header,.cart_content,.cart_footer {
	width:760px;
	margin:0 auto;
}
.header,.footer {
	width:1150px;
	margin:0 auto;
	overflow:hidden;
}
.content {
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
.content1 {
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}
.left {
	width:201px;
	float:left;
	overflow:hidden;
}
.left2 {
	width:670px;
	float:left;
	overflow:hidden;
}
.left3 {
	width:754px;
	float:left;
	overflow:hidden;
	color:#666;
}
.lefttop {
	background:url(../images/left_top_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
	margin-top:10px;
}
.left2top {
	background:url(../images/left2_top_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
}
.leftbot {
	background:url(../images/left_bot_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
	margin-bottom:10px;
}
.left2bot {
	background:url(../images/right_bot2_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
	margin-bottom:10px;
}
.right {
	width:754px;
	float:left;
	display:inline;
	margin-left:5px;
	overflow:hidden;
}
.right2 {
	width:275px;
	float:right;
	overflow:hidden;
}
.right3 {
	width:201px;
	float:right;
	overflow:hidden;
	color:#666;
}
.righttop {
	background:url(../images/right_top_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
}
.right2top {
	background:url(../images/right2_top_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
}
.rightbot {
	background:url(../images/right_bot_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
	margin-bottom:10px;
}
.right2bot {
	background:url(../images/left_bot2_img.gif) no-repeat;
	height:3px;
	font-size:0;
	overflow:hidden;
	margin-bottom:10px;
}
.right_main {
	width:752px;
	min-height:458px;
	border:solid 1px #d5d5d5;
	border-top:0;
	border-bottom:0;
	padding-bottom:15px;
	overflow:hidden;
}
.right2_main {
	width:273px;
	border:solid 1px #d5d5d5;
	border-top:0;
	border-bottom:0;
	padding-bottom:15px;
	overflow:hidden;
}
.left2_main {
	width:668px;
	border:solid 1px #d5d5d5;
	border-top:0;
	border-bottom:0;
	padding-bottom:15px;
	overflow:hidden;
}
.h_nav li a:-webkit-any-link {
	display:block;
}
.t_bg {
	background:url(../images/t_bg.gif) no-repeat center 0;
	height:246px;
}
.h_top {
	height:33px;
	line-height:33px;
	color:#fff;
}
.h_top i {
	font-style:normal;
	float:right;
}
.h_top i img {
	vertical-align:middle;
}
.h_top i a {
	color:#fff;
	display:inline-block;
	padding:0 24px;
	background:url(../images/line.gif) no-repeat right 9px;
}
.h_top i .nob {
	background:none;
	padding-right:0;
}
.h_con {
	height:151px;
	overflow:hidden;
}
.h_con h1 {
	float:left;
	width:120px;
	padding-top:20px;
}
.h_con p {
	float:left;
	width:515px;
	margin-top:70px;
	font-family:"Microsoft Yahei";
	font-size:16px;
	color:#24231f;
}
.h_con p span {
	font-family:"����";
	font-size:24px;
	display:block;
	font-weight:bold;
}
.h_con q {
	display:block;
	float:right;
	color:#24231f;
	font-family:"Microsoft Yahei";
	font-size:16px;
	margin-top:50px;
	text-align:right;
}
.h_con q b {
	display:block;
	font-size:25px;
	font-weight:normal;
	font-family:"����";
}
.h_nav {
	height:62px;
	line-height:62px;
	overflow:hidden;
}
.h_nav ul li {
	font-family:"Microsoft Yahei";
	font-size:15px;
	float:left;
	background:url(../images/lin.gif) no-repeat right 25px;
}
.h_nav ul li a {
	display:inline-block;
	float:left;
	color:#57391f;
	padding:0 33px 0 33px;
}
.h_nav ul .cur a,.h_nav ul li a:hover {
	background:url(../images/cur.gif) repeat-x center 0;
	text-decoration:none;
}
.h_nav ul .nobor {
	background:none;
}
.h_nav ul .home a {
	padding-left:0;
}
.h_nav ul .nobor a {
	padding-right:0;
}
.sea {
	width:1100px;
	margin:50px auto;
	color:#4b4b4b;
	height:49px;
	line-height:49px;
	background:url(../images/s_bg.gif) no-repeat;
}
.sea1 {
	margin:20px auto;
}
.sea p {
	float:left;
}
.sea p b {
	padding:0 1px 0 60px;
}
.sea p a {
	color:#676767;
	padding:0 0 0 28px;
}
.s_b {
	float:right;
	padding:11px 75px 0 0;
}
.s_01 {
	float:left;
	height:27px;
	width:134px;
	color:#666666;
	border:none;
	background:url(../images/s_inp.gif) no-repeat;
	line-height:27px;
	padding:0 5px;
}
.s_02 {
	float:left;
	height:27px;
	width:33px;
	background:url(../images/s_s.gif) no-repeat;
	line-height:27px;
	cursor:pointer
}
.s_b input {
	float:left;
	border:none
}
.ftWrap {
	text-transform:uppercase;
	height:222px;
	margin:0 auto;
	font-family:"Microsoft YaHei";
	background:url(../images/ftw.gif) left top repeat-x;
}
.ft_nav {
	color:#fff;
	font-size:14px;
	line-height:52px;
	height:52px;
	overflow:hidden;
}
.ft_nav a {
	color:#fff;
	padding:0 23px 0 23px;
	background:url(../images/ft_ic1.gif) 8px 25px no-repeat;
	display:inline-block;
}
.ft_c {
	clear:both;
	padding:26px 0 0;
}
.ft_lg {
	width:200px;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.ft_r {
	width:115px;
	padding:6px 0 0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.ft_m {
	background:url(../images/ft_l.gif) left 10px no-repeat;
	width:540px;
	padding:0 0 0 38px;
}
.ft_m ul {
	color:#fff;
}
.ft_m ul li {
	line-height:28px;
	height:28px;
}
.ft_m ul span {
	display:inline-block;
	margin:0 16px;
}
.ft_m ul a {
	color:#fff;
}
@charset "utf-8";
	html {
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style:inherit;
	font-weight:inherit;
}
del,ins {
	text-decoration:none;
}
li {
	list-style:none;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:baseline;
}
sub {
	vertical-align:baseline;
}
input,button,textarea,select,optgroup,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
input,button,textarea,select {
	*font-size:100%;
}
input,select {
	vertical-align:middle;
}
select,input,button,textarea,button {
	font:99% arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
	border-collapse:collapse;
}
pre,code,kbd,samp,tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size:20px;
}
h4 {
	font-size:14px;
}
h5 {
	font-size:12px;
}
h6 {
	font-size:10px;
}
.mt10 {
	margin-top:10px;
}
#nodata {
	padding:80px;
	padding-left:150px;
	border:solid 1px #eee;
	margin:10px 0;
	background:url(../images/nodata.gif) no-repeat 20px 20px;
}
#mesbook1_c,#mesbook1 {
	display:none;
	z-index:1001;
	width:398px;
	border:1px solid #ccc;
	background:#fff;
	padding-bottom:20px;
}
#mesbook1_c div,#mesbook1 div {
	border:1px solid #E4E3E3;
	background:#EBECEB;
	height:18px;
	padding:4px .5em 0;
	margin-bottom:10px;
}
#mesbook1_c dl.b1,#mesbook1 dl.b1 {
	width:370px;
	margin:0 auto;
}
#mesbook1_c dl.b1 dt,#mesbook1 dl.b1 dt {
	float:left;
	width:105px;
	overflow:hidden;
}
#mesbook1_c dl.b1 dd,#mesbook1 dl.b1 dd {
	width:265px;
	float:right;
}
#mesbook1_c #mesbook1_cBtns,#mesbook1 #mesbook1Btns {
	padding-bottom:10px;
}
#mesbook1_c #mesbook1_cBtns input,#mesbook1 #mesbook1Btns input {
	margin-right:20px;
}
#oran_div_processing {
	width:300px;
	padding:20px;
	z-index:9999;
	text-align:center;
	background:#fffeef;
	border:solid 1px #b8ab04;
}
#roll_top,#fall,#ct {
	position:relative;
	cursor:pointer;
	height:72px;
	width:26px;
	z-index:10
}
#roll_top {
	background:url(../images/top.gif) no-repeat
}
#fall {
	background:url(../images/top.gif) no-repeat 0 -80px
}
#ct {
	background:url(../images/top.gif) no-repeat 0 -40px
}
#roll {
	display:block;
	width:15px;
	margin-right:-630px;
	position:fixed;
	right:50%;
	top:50%;
	_margin-right:-505px;
	_position:absolute;
	_margin-top:300px;
	_top:expression(eval(document.documentElement.scrollTop));
	z-index:9999;
}
.ImTable * {
	padding:0px;
	margin:0px
}
.ImTable {
	border-collapse:collapse;
	border:none;
	background:url(../images/bg.gif)
}
.ImTable h2 {
	font-size:14px;
	font-weight:bold;
	margin-top:5px
}
.ImHeader {
	height:165px;
	background:url(../images/im_01.jpg)
}
.ImRow0 {
	background:url(../images/ico_item1.gif) no-repeat;
	margin:10px 10px 0;
	height:24px;
	padding-left:10px;
	padding-top:4px;
}
.ImRow1 {
	background:url(../images/ico_item1.gif) no-repeat;
	margin:10px 10px 0;
	height:24px;
	padding-left:10px;
	padding-top:4px;
}
a.im,a:hover.im {
	text-decoration:none;
	height:35px;
	color:#352B22;
	font-size:14px;
}
.ImFooter {
	height:90px;
	background:url(../images/im_04.jpg) no-repeat;
	display:inline-block;
	width:150px;
	font-family:Arial,Helvetica,sans-serif;
}
.ImFooter h5 {
	font-size:14px;
	font-weight:normal;
	color:#fff;
	text-align:center;
	margin:15px 0 0;
	font-family:'����';
}
.ImFooter p {
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	margin:10px 0;
}
.rq {
	clear:both
}
.divAll {
	margin:0 auto;
	width:1200px;
}
.ic4 {
	float:left;
	width:1198px;
	border:1px solid #e2e0dd;
	height:109px;
	margin-bottom:30px;
	padding-top:30px;
}
.ileft {
	float:left;
}
.iright {
	float:right;
}
.icc {
	float:left;
	width:1134px;
}
.icc ul li {
	float:left;
	width:162px;
}
.icc img {
	border:1px solid #d6d6d6;
}
.icc img:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.link {
	width:1200px;
	margin:0 auto;
	padding-top:40px;
}
.link .title {
	background:url(../images/link.png) no-repeat;
	height:30px
}
.link .title p {
	float:right;
	padding-right:50px;
	height:30px;
	line-height:30px;
}
.mr4 {
	height:40px;
}
.link li {
	float:left;
	padding:10px;
	line-height:24px;
	height:24px
}
.sjz {
	position:fixed;
	bottom:1px;
	left:1px;
	width:278px;
	height:178px;
	border:1px solid #57391F;
	color:#000;
	background:#fff;
	text-align:center;
	line-height:178px;
	font-size:18px;
	font-weight:800
}
