@charset "GB2312";
/* CSS Document */
.shareTabs td{line-height:100%;height:55px;}
.shareTabs td .rowp{margin:10px 0 5px 0;}
.shareTabs td .rowf{margin-bottom:5px;display:inline-block;line-height:180%;}
.shareTabs td .IDn{padding-left:5px;}

@media screen and (max-width: 1000px) { 

}