@charset "GB2312";
/* CSS Document */
html,body{
	margin:0px;
	padding:0px;
	font: 12px 微软雅黑, 黑体, 宋体, Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color:#333;
	overflow:hidden;
}
a{
	font-size: 12px;
	color:#333;
	text-decoration:none;
}
em{
	font-style:normal;
}
ul{
	margin:0px;
	padding:0px;
}
li{
	list-style-type:none;
}
.comm-top{
	position:fixed;
	height:45px;
	width:100%;
	top:0px;
	left:0px;
	z-index:9999;
	background-color:#000;
}
.top-left{
	position:absolute;
	width:150px;
	height:100%;
	left:0px;
	top:0px;
	background-color:#CC0000;
	z-index:100;
	overflow:hidden;
}
.top-left .logo{
	position:relative;
	display:block;
	border:none;
	width:120px;
	margin:8px 0px 0px 15px;
}
.top-right{
	position:absolute;
	width:100%;
	height:100%;
	right:0px;
	top:0px;
	z-index:101;
}
.top-right .t-r-left{
	position:absolute;
	left:0px;
	top:0px;
	width:55px;
	height:100%;
	line-height:45px;
	text-align:center;
	font-size:16px;
	color:#fff;
	border-right:1px solid rgba(0,0,0,.2);
	z-index:800;
}
.top-right .t-r-left span{
	font-size:16px;
}
.top-right .t-r-menu{
	position:relative;
	height:100%;
	float:right;
	top:0px;
	color:#fff;
	margin-left:55px;
	overflow:hidden;
}
.top-right .t-r-menu i{
	font-size:16px;
}
.top-right .t-r-menu .menu-items{
	position:relative;
	height:100%;
	float:right;
	overflow:hidden;
	line-height:45px;
	padding:0px 25px;
	border-left:1px solid rgba(0,0,0,.2);
	font-size:14px;
	text-align:center;
}
/*************************************/
.comm-center{
	position:fixed;
	top:45px;
	height:100%;
	width:100%;
	overflow:hidden;
	left:0px;
	padding:0px;
	margin:0px;
	z-index:800;
}
.center-left{
	position:fixed;
	left:0px;
	top:0px;
	width:150px;
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	z-index:900;
	color:#fff;
	background-color: #000;
}
.center-right{
	position:fixed;
	right:0px;
	top:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	z-index:902;
	background-color:#d7dfe6;
}
/*************************************/
.left-menu{
	position:absolute;
	top:35px;
	left:0px;
	z-index:500;
	width:150px;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	/*background-color:#000;*/
}
.left-menu .menu-items{
	display:block;
	width:150px;
	height:45px;
	overflow:hidden;
	line-height:45px;
	font-size:14px;
	position:relative;
}
.left-menu .menu-items .btn-ico{
	position:absolute;
	width:55px;
	height:45px;
	display:block;
	text-align:center;
	line-height:47px;
	font-size:14px;
}
.left-menu .menu-items .btn-title{
	position:relative;
	margin-left:55px;
}
.linkTag{
	color:#fff;
}
.left-menu-two{
	position:absolute;
	top:0px;
	left:150px;
	margin:0px;
	padding:0px;
	background-color:#fdfdfd;
	z-index:500;
	width:180px;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}
/*************************************/
.menu-two-items{
	position:relative;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	z-index:500;
	top:0px;
	left:0px;
	color:#666;
}
.m-t-i-title{
	cursor:default;
	display:block;
	position:relative;
	font-size:16px;
	font-weight:400;
	height:60px;
	line-height:60px;
	text-indent:25px;
	margin:0px;
	border-bottom:1px #dedede solid;
	text-align:left;
	color:#333;
}
.m-t-i-list{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
}
.m-t-i-list .list-items{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	font-size:14px;
}
.m-t-i-list .list-items .list-items-link{
	display:inline-block;
	margin:0px;
	height:45px;
	width:115px;
	text-align:left;
	padding-left:20px;
	line-height:45px;
	color:#666;
	transition: all 0.5s;
	font-size:14px;
}
.m-t-i-list .list-items:hover{
	cursor:pointer;
	background-color:#e4e9ec;
	transition: all 0.5s;
}
.m-t-i-list .list-items a i{
	margin-right:5px;
	color:#ffb400;
}
.m-t-i-list .list-items a i:hover{
	color:#ffc22e;
}
.m-t-i-list .list-items .icoEdit,.m-t-i-list .list-items .icoDe{font-size:14px;color:#999;vertical-align:-1px;}
.m-t-i-list .list-items .icoEdit{padding-right:5px;}
/*************************************/
.frame{
	height: 100%;
	width: 100%;
	border:none;
}
.menu-load{
	position:absolute;
	width:100%;
	height:100%;
	z-index:999999;
	margin:0px;
	padding:0px;
	display:none;
}
.center-load{
	position:absolute;
	width:100%;
	height:100%;
	z-index:99999;
	margin:0px;
	padding:0px;
}
.center-load .center-load-bg{
	position:absolute;
	z-index:0;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:#fff;
	opacity:0.8;
}
.center-load img{
	display:block;
	border:none;
	width:100px;
	height:9px;
	position:absolute;
	top:40%;
	left:50%;
	margin-top:-5px;
	margin-left:-50px;
	z-index:888;
}
.center-load .center-load-tips{
	position:absolute;
	z-index:777;
	width:100%;
	line-height:25px;
	font-size:14px;
	color:#fff;
	text-align:center;
	top:42%;
	left:0px;
	cursor:default;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/*************************************/
.i-right{
	margin-left:5px;
}
.i-left{
	margin-right:5px;
}
.color-red{
	color:#CC0000;
}
.f-margin{
	margin:0px 5px;
}
.pointer{
	/*background-color:#000;*/
	cursor:pointer;
	transition: all 0.5s;
}
.pointer:hover{
	background-color:rgba(0,0,0,.2);
	transition: all 0.5s;
}
.pointer2{
	background-color:#CC0000;
	cursor:pointer;
	transition: all 0.5s;
}
.pointer2:hover{
	background-color:#ff0000;
	transition: all 0.5s;
}
.pointer3{
	color:#fff;
	/*background-color:#000000;*/
	cursor:pointer;
	transition: background 0.5s;
}
.pointer3:hover{
	/*color:#000;*/
	background-color:#ebebeb;
	transition: background 0.5s;
}
.menu-on{
	/*color:#000;*/
	background-color:#fdfdfd;
	cursor:pointer;
}
.menu-cheack{
	color:#333 !important;
	background-color:#dadee6;
}
.animi{
	transition: all 0.5s;
}
.ifrHide{
	-webkit-overflow-scrolling:touch;
	overflow-y:auto;
	overflow-x:hidden;
	height: 100%;
	width: 100%;
	border:none;
	position:relative;
}
.iosHide{
	-webkit-overflow-scrolling:touch;
}
.link-color{
	color:#2063D2 !important;
}
.animi3{
	transition: transform 0.5s;
}
.xuanzhuan{
transform:rotate(180deg);
-ms-transform:rotate(180deg); 	/* IE 9 */
-moz-transform:rotate(180deg); 	/* Firefox */
-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
-o-transform:rotate(180deg); 	/* Opera */
}
#btn-username:hover i{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
#btn-gd:hover i{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
/***************/
.label-user{
	position:absolute;
	z-index:9999;
	width:300px;
	height:0px;
	top:45px;
	right:0px;
	background-color:#fff;
	border:#d0cfd5 solid 1px;
	display:none;
	overflow:hidden;
}
.label-user .btn-loginOut{
	display:block;
	position:absolute;
	bottom:0px;
	width:100%;
	height:45px;
	text-align:center;
	line-height:45px;
	font-size:14px;
	background-color:#f3f7fa;
	border-top:#d0cfd5 solid 1px;
	color:#246cd0;
}
.label-user .btn-loginOut:hover{
	background-color:#deedf8;
	color:#4d82d2;
}
.label-user .user-ye{
	cursor:default;
	position:absolute;
	display:block;
	line-height:25px;
	font-size:14px;
	color:#333;
	top:10px;
	left:25px;
}
.label-user .user-ye-price{
	position:absolute;
	cursor:default;
	top:36px;
	left:25px;
	display:block;
	font-size:14px;
	color:#333;
}
#ye-num{
	font-size:32px;
	margin-right:5px;
}
.label-user .user-menu-list{
	position:absolute;
	left:25px;
	top:82px;
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#999;
}
.label-user .user-menu-list a{
	font-size:14px;
	color:#999;
}
.label-user .user-menu-list .fenge{
	margin:0 5px;
}
.label-user .user-btn-link{
	display:block;
	width:86px;
	height:32px;
	line-height:32px;
	text-align:center;
	position:absolute;
	right:30px;
	top:40px;
	background-color:#cc0000;
	color:#fff;
	cursor:pointer;
}
.label-user .user-btn-link:hover{
	background-color:#dc0101;	
}
.label-user .user-other-menu{
	position:absolute;
	border-top:1px solid #E1E1E1;
	top:120px;
	left:0px;
	margin:0px 25px;
	padding-top:10px;
	overflow:hidden;
	width:250px;
}
.label-user .user-other-menu .u-o-m-items{
	display:block;
	width:100%;
	height:35px;
	line-height:35px;
	font-size:14px;
}
.label-user .user-other-menu .u-o-m-items a{
	font-size:14px;
}
.label-gd{
	position:absolute;
	background:#fff;
	top:45px;
	right:0px;
	border-bottom:1px solid #D1D2D3;
	border-left:1px solid #D1D2D3;
	border-right:1px solid #D1D2D3;
	overflow:hidden;
	height:0px;
	display:none;
	width:121px;
	}
.label-gd a{
	display:block;
	position:relative;
	width:100%;
	height:45px;
	line-height:45px;
	font-size:14px;
	border-top:1px solid #D1D2D3;
	padding:0 15px;
}
#wt-num{
	display:inline-block;
	height:18px;
	line-height:18px;
	background:#0ECC32;
	color:#fff;
	z-index:800;
	text-align:center;
	padding:0 3px;
	margin-left:5px;
}
.label-weixin{
	position:absolute;
	z-index:9999;
	width:170px;
	height:0px;
	top:45px;
	right:0px;
	background-color:#fff;
	border:#d0cfd5 solid 1px;
	display:none;
	overflow:hidden;
}
.label-weixin p{
	text-align:center;
	margin:0px;
	padding:0px;
}
.label-weixin .title-1{
	font-size:14px;
	line-height:25px;
}
.label-weixin .title-2{
	color:#cc0000;
	font-size:16px;
	line-height:30px;
}
.label-skin{
	position:absolute;
	z-index:9999;
	width:299px;
	height:0px;
	top:45px;
	right:0px;
	background-color:#fff;
	border:#d0cfd5 solid 1px;
	display:none;
	overflow:hidden;
}
.label-skin .skin-title{
	position:relative;
	line-height:30px;
	height:30px;
	padding:0 20px;
	text-align:left;
	color:#666;
	font-size:13px;
	cursor:default;
}
.label-skin .skin-title em{
	color:#F00;
	font-style:normal;
	margin-right:10px;
	font-size:12px;
}
.label-skin .skin-val{
	margin:0px;
	padding:20px 20px 10px;
	overflow:hidden;
	position:relative;
}
.label-skin .skin-val a{
	cursor:pointer;
	float: left;
    height: 36px;
    line-height: 20px;
    margin-bottom: 1px;
    margin-right: 1px;
    position: relative;
    transform: scale(1, 1);
    transition: all 0.3s ease 0s;
    width: 36px;
    z-index: 2;
	display: block;
    text-decoration: none;
}
.label-skin .skin-val a:hover {
    position: relative;
    transform: scale(1.2, 1.2);
    transition: all 0.3s ease 0s;
    z-index: 9;
}
/*********************/
.showWindows .Btn1 {
    background: #2263d4 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    text-align: center;
}
.showWindows .Btn3 {
    background: #d7d7d7 none repeat scroll 0 0;
    border: medium none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    text-align: center;
}
.showWindows .Input {
    border: 1px solid #e1e4e6;
    outline: medium none;
    text-indent: 5px;
}
.clear {
    clear: both;
}
.over {
    overflow: hidden;
}
.showWindows *{ margin:0px; padding:0px;}
.showWindows select{border:1px solid #E1E4E6;height:34px;line-height:34px;cursor:pointer;outline:none;}
.showWindows{position:fixed; width:100%; height:100%; z-index:999999; top:0px; left:0px; margin:0px; padding:0px; display:none;}
.shadow{width:100%;height:100%;background:rgba(0,0,0,0.3);position:absolute;top:0;left:0;z-index:0;}
.formBox{width:500px;height:272px;background:#fff;position:fixed;top:50%;left:50%;margin:-136px 0 0 -250px;z-index:9999; overflow:hidden;}
.formBox .tit{height:48px;line-height:48px;background:#F0F2F5;}
.formBox .tit b{font-size:14px;color:#333;padding-left:25px;}
.formBox .tit a{float:right;width:48px;height:48px;line-height:48px;text-align:center;font-size:20px;color:#333;border-left:1px solid #dbdbdb;}
.formBox .tit a:hover{color:#c00;}
.formBox .padding{padding:30px 40px;}
.formBox p{margin-bottom:10px;}
.formBox p.lastP{margin-bottom:0;}
.formBox p .float{float:left;}
.formBox p span{width:105px;height:32px;line-height:32px;font-size:14px;}
.formBox p .Input{height:30px;line-height:30px;width:225px;background:#f4f4f4;}
.formBox p select{margin-right:5px;width:130px;}
.formBox p font{line-height:32px;}
.formBox p .xh{padding-left:10px;}
.formBox p span.Tel{padding-left:20px;width:auto;}
.formBox p .tip{color:#999;}
.formBox .bbt{height:80px;background:#EDF0F2;}
.formBox .bbt .Btn1,.formBox .bbt .Btn3{width:154px;height:39px;margin-top:20px;line-height:39px;margin-left:40px;}
.formBox .bbt .Btn1{float:right;margin-right:40px;}
.formBox .sec{ width:280px;}

.windowMsg{position:fixed; width:300px; line-height:40px; font-size:14px; border:1px solid #FFDA88; background:#FCF8E2; text-align:center; left:50%; top:50%; margin-top:-20px; margin-left:-150px; z-index:999999; border-radius:3px; color:#454545; display:none;}

.list-items .cName{    width: 108px;text-overflow: ellipsis;overflow: hidden;display:inline-block; white-space: nowrap;}
.list-items .icoEdit,.list-items .icoDe{float:right;line-height:50px;margin-right:2px}
.list-items .icoDe{margin-right:8px}

@media screen and (max-width: 1000px) { 

.center-left .menu-on .btn-title,.center-left .menu-on i{color:#000}
}