/* Pagination*/
.tn-pagination{height: 24px; padding: 0; text-align: center;}
.tn-pagination .tn-page-thumb,.tn-pagination .tn-page-number{display:inline-block;margin: 0 4px;}
.tn-pagination a{border:1px solid #d9d9d9; display:inline-block;  background:#fff; vertical-align:middle; text-decoration:none;color:#666; height: 22px; margin:0 4px; font-size: 14px; border-radius: 2px;}
.tn-pagination a em{display:inline-block;padding:3px 8px 3px 8px; min-width: 10px; text-align: center; font-style:normal; padding:0 6px; height: 22px; line-height: 22px; cursor: pointer;}
.tn-pagination a.hover{border:1px solid #d6d6d6;margin-right:3px;display:inline-block; background:#72b3d9; vertical-align:top;color:#fff;text-decoration:none;}
.tn-pagination a:hover{text-decoration:none; border:1px solid #00b4f5; background: none; color:#666; margin: 0 4px;}


.tn-pagination a.pgEmpty{background:none;/* visibility: hidden;*/ display: none;}
.tn-pagination a.tn-selected{border: 1px #00b4f5 solid; cursor:default;}
.tn-pagination a.tn-selected em{background: #00b4f5; color:#fff; font-weight: normal;}
.tn-pagination .tn-page-results {line-height:21px;color:#010101;}

.tn-pagination .home-page-number em{background: url("../images/home_page_icon.png") center center no-repeat;}
.tn-pagination .last-page-number em{background: url("../images/last_page_icon.png") center center no-repeat;}
.tn-pagination .next-page-number em{background: url("../images/next_page_icon.png") center center no-repeat;}
.tn-pagination .trailer-page-number em{background: url("../images/trailer_page_icon.png") center center no-repeat;}
