.imgviewbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10000;}
.imgviewbox table {width: 100%; height: 100%;}
.imgviewbox table td {vertical-align: middle; text-align: center;}
.sideimg {display: inline-block; position: relative;}
.sideimg img {display: inline-block; max-width: 480px; max-height: 480px;}
.closeimgview {display: inline-block; width: 36px; height: 36px; background: url("../images/close_imgview.png") 0 0 no-repeat; position: absolute; right: -9px; top: -14px;}
