@CHARSET "UTF-8";
.body {
  width: 960px;
  margin: 0 auto;
}
.body:before, .body:after {
  content: "";
  display: table;
}
.body:after { clear: both; }
.body .cf { *zoom: 1; }
.body .main {
  width: 720px;
  float: left;
  margin: 30px 0;
}
.body .main header {
  border-left: 3px solid #8eb529;
  padding-left: 1em;
}
.body .main header h1 {
  font-size: 24px;
  line-height: 28px;
  color: #8eb529;
  margin-bottom: 0.5em;
}
.body .main header h1 a { color: #8eb529; }
.body .main header .postdate { color: #999999; }
.body .main .intro, .body .main .content {
  padding: 2em 0 0.5em;
  color: #666666;
  line-height: 2;
}
.body .main .intro h2, .body .main .content h2 {
  font-size: 18px;
  color: #8eb529;
  margin: 0.75em 0 0.5em;
}
.body .main .intro img, .body .main .content img { max-width: 100%; }
.body .main footer { color: #999999; }
.body .main footer a {
  color: #999999;
  margin-right: 1em;
}
.body .main footer .more { margin-bottom: 1.5em; }
.body .blog_list li {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #eeeeee;
}
.body aside {
  width: 220px;
  float: right;
  margin: 30px 0;
}
.body aside section {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-bottom: 1em;
}
.body aside section h1 {
  font-size: 12px;
  font-weight: bold;
  color: #8eb529;
  padding: 0.5em 0;
  border-bottom: 1px solid #eeeeee;
}
.body aside section div { padding: 1em 0; }
.body aside section a { color: #999999; }
.body aside section .tags a {
  margin-right: 1em;
  white-space: nowrap;
}
.body aside section li {
  padding: 0.5em 0;
  border-bottom: 1px solid #f8f8f8;
}
