.main.contract_us{padding-top: 110px; width: 100%;}

.banner_contract_us{background: url("../images/banner.jpg") no-repeat;  }
.map_jump{display: block; width: 100%; height: 670px;}
.contact_info{width: 900px; margin: 0px auto;}
.contract_us_icon{background: url("../images/contract_us_icon.png") no-repeat; width: 180px; height: 180px; margin-right: 185px;}
.contract_us_icon.telephone{}
.contract_us_icon.address{background-position:0px -180px; margin-top: 55px; margin-bottom: 55px;}

.contact_info_telephone{padding-left: 15px; padding-bottom: 85px;}
.contact_info_address{ padding: 37px 0px 37px 15px ;}

.mid_line_1000{width: 1000px; height: 1px; background-color: #dddddd; margin-left: -50px;}

.attention_us{height: 360px; background-color: #db251d;}
.attention_us_content{width: 900px; height: 100%; padding: 85px 50px 0px 50px; margin: 0px auto;}
.attention_us_content > div{ width: 152px;}
.weixin_subscribe, .weixin_service{ margin-right: 172px;}
.attention_us_content img{width: 152px; height: 152px;}
.weibo{position: relative;}
.attention_weibo{position: absolute; left: 13px; top: 96px; width: 126px; height: 38px; line-height: 38px; font-size: 18px; color: #ffffff; padding-left: 50px; display: block; background: url("../images/contract_us_icon.png") -180px 0px no-repeat;}
.attention_weibo:hover{background-position:-180px -38px; color: #ffffff;}
.img_title{width: 152px; text-align: center; font-size: 18px; color: #ffffff; height: 66px; line-height: 66px;}